<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head_old :: head_old}"></head>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header_2 :: header_2}"></header>
        <div class="container layout_page">
            <h3>Редагування інформації на сторінці</h3>
            <form id="editor">
                <label for="name">Назва:</label>
                <input type="text" id="name" name="name" th:value="${textOfAppPage.name}">
                <label>Сторінка:</label>
                <label th:text="${pageName}"></label><br>
                <label for="entitySelect">Змінити сторінку: </label>
                <select id="entitySelect" name="selectedPageApplication">
                    <option name="id" value="0">Оберіть сторінку для текста</option>
                    <option th:each="pageApplication : ${pageList}" th:value="${pageApplication.id}"
                            th:text="${pageApplication.namePage}">
                    </option>
                </select>
                <input name="address" placeholder="path page">
                <hr>
                <label for="info">Текст:</label>
                <textarea id="info" name="text" th:text="${textOfAppPage.text}"></textarea>
                <input type="hidden" name="id" th:value="${textOfAppPage.id}"><br>
                <button type="submit">Зберегти</button>
            </form>
        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu_old :: menu_old}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/adminPage_js/tinyMce.js}"></script>
<script type="text/javascript" th:src="@{/js/adminPage_js/textOfAppPageEdit.js}"></script>
</body>
</html>