<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="sidebar">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
    <main class="section main_content ">
        <div class="container layout_page">
            <h1>Edit Lesson</h1>
            <form id="editor">
                <label for="name">Lesson Name:</label>
                <input type="hidden" name="id" th:value="${lesson.id}">
                <input type="text" id="name" name="name" th:value="${lesson.name}" ><hr><br>
                <label for="info">Lesson Info:</label>
                <textarea id="info" name="lessonInfo" th:text="${lesson.lessonInfo}" ></textarea>
                <button type="submit">Save</button>
            </form>
            <div id="responseDiv"></div>
        </div>
    </main>
    <!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/tinyMce.js}"></script>
<script type="text/javascript" th:src="@{/js/lessonEdit.js}"></script>
</body>
</html>