<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page">
            <div th:class="admin_page">
                <div th:class="navigation_admin_page">
                    <a href="/admin-page/lessons">Уроки по фразам</a>
                </div>
                <div th:class="navigation_admin_page">
                    <a href="/admin-page/word-lessons">Уроки по словам</a>
                </div>
                <div th:class="navigation_admin_page">
                    <a href="/admin-page/users">Юзери </a>
                </div>
                <div th:class="navigation_admin_page">
                    <a href="/admin-page/texts-of-app-pages">Описи сторінок </a>
                </div>
                <div th:class="navigation_admin_page">
                    <a href="/admin-page/translation-pairs">Фрази для занять </a>
                </div>
                <div th:class="navigation_admin_page">
                    <a href="/admin-page/words-main-page">Матеріали додатка</a>
                </div>
            </div><hr>
            <!--            <div class="layout_about">-->
            <!--            <article class="col-md-11 col-xl-9 layout_page">-->

            <!--            </div>-->
            <!--            </article>-->
<!--        </div>-->

        </div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
</body>
</html>