<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page row">


            <div class="page-table" style="flex-direction: column;">
                <h3>Тексти</h3>
                <table style="width: 90%;">
                    <thead>
                    <tr>
                        <th>Заняття</th>
                        <th>Текст українською</th>
                        <th>Текст українською W</th>
                        <th>Текст англійською</th>
                        <th>Actions</th> <!-- Додано стовпець для кнопок -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="translationPair : ${translationPairs}">
                        <td style="display: none"><input type="hidden" name="id" th:value="${translationPair.id}"/></td>
                        <td>
                            <span th:text="${translationPair.lesson.name}"></span>
                        </td>
                        <td>
                            <!-- Відображення поля як текст або як input, залежно від режиму редагування -->
                            <span th:text="${translationPair.ukrText}"></span>
                            <input th:id="'ukrText' + ${translationPair.id}" class="hidden_content" type="text"
                                   th:value="${translationPair.ukrText}"/>
                            <div th:id="'ukrTextError' + ${translationPair.id}" class="error_message"></div>
                        </td>
                        <td>
                            <!-- Відображення поля як текст або як input, залежно від режиму редагування -->
                            <span th:text="${translationPair.ukrTextFemale}"></span>
                            <input th:id="'ukrTextFemale' + ${translationPair.id}" class="hidden_content" type="text"
                                   th:value="${translationPair.getUkrTextFemale}"/>
                            <div th:id="'ukrTextFemaleError' + ${translationPair.id}" class="error_message"></div>
                        </td>
                        <td>
                            <!-- Відображення поля як текст або як input, залежно від режиму редагування -->
                            <span th:text="${translationPair.engText}"></span>
                            <input th:id="'engText' + ${translationPair.id}" class="hidden_content" type="text"
                                   th:value="${translationPair.engText}"/>
                            <div th:id="'engTextError' + ${translationPair.id}" class="error_message"></div>
                        </td>
                        <td>
                            <button class="editButton" onclick="toggleEditMode(this)">Редагувати</button>
                            <button class="cancelButton disabled" onclick="toggleCancelMode(this)">Відмінити</button>
                            <button class="saveButton disabled" onclick="saveChanges(this)">Зберегти</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- відображення пагінації -->
            <div style="position: fixed; bottom: 0; margin-left: 40px; width: 100%;">
                <a th:href="@{/admin-page/translation-pairs(page=(${currentPage} - 1))}">Previous</a>
                <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/admin-page/translation-pairs(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                </span>
                <a th:href="@{/admin-page/translation-pairs(page=(${currentPage} + 1))}">Next</a>
            </div>



        </div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<script>
    function toggleEditMode(button) {
        var row = button.closest('tr');
        var spans = row.getElementsByTagName('span');
        var inputs = row.getElementsByTagName('input');

        for (var i = 1; i < spans.length; i++) {
            spans[i].classList.toggle('hidden_content');
        }
        for (var j = 0; j < inputs.length; j++) {
            inputs[j].classList.toggle('hidden_content');
        }

        var editButton = row.querySelector('.editButton');
        var saveButton = row.querySelector('.saveButton');
        var cancelButton = row.querySelector('.cancelButton');
        saveButton.classList.remove('disabled');
        editButton.classList.add('disabled');
        cancelButton.classList.remove('disabled');
    }

    function toggleCancelMode(button) {
        var row = button.closest('tr');
        var spans = row.getElementsByTagName('span');
        var inputs = row.getElementsByTagName('input');


        for (var i = 1; i < spans.length; i++) {
            spans[i].classList.toggle('hidden_content');
        }
        for (var j = 0; j < inputs.length; j++) {
            inputs[j].classList.toggle('hidden_content');
        }

        var editButton = row.querySelector('.editButton');
        var saveButton = row.querySelector('.saveButton');
        var cancelButton = row.querySelector('.cancelButton');
        saveButton.classList.add('disabled');
        editButton.classList.remove('disabled');
        cancelButton.classList.add('disabled');
    }

    function saveChanges(button) {
        var row = button.parentNode.parentNode;
        var inputs = row.getElementsByTagName('input');
        var spans = row.getElementsByTagName('span');


        var updatedData = {
            id: inputs[0].value,
            ukrText: inputs[1].value,
            ukrTextFemale: inputs[2].value,
            engText: inputs[3].value
        };
        var id = updatedData.id;
        var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
        var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
        $.ajax({
            // url: $(this).attr('action'),
            url: '/translation-pair/check-edit',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(updatedData),
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (result) {
                if (result.hasOwnProperty('status') && result.status === 'Error') {
                    showErrorToast(result.message);
                } else {
                    spans[1].textContent = result.ukrText;
                    spans[2].textContent = result.ukrTextFemale;
                    spans[3].textContent = result.engText;
                    for (var i = 1; i < spans.length; i++) {
                        spans[i].classList.toggle('hidden_content');
                    }
                    for (var j = 0; j < inputs.length; j++) {
                        inputs[j].classList.toggle('hidden_content');
                    }
                    showSuccessToast("Текст успішно змінено");
                    var editButton = row.querySelector('.editButton');
                    var saveButton = row.querySelector('.saveButton');
                    var cancelButton = row.querySelector('.cancelButton');
                    saveButton.classList.add('disabled');
                    editButton.classList.remove('disabled');
                    cancelButton.classList.add('disabled');
                }
            },
            error: function (xhr) {
                var response = JSON.parse(xhr.responseText);
                if (Array.isArray(response)) {
                    for (var i = 0; i < response.length; i++) {
                        var error = response[i];
                        console.log(response);
                        if (error.fieldName === ('ukrText')) {
                            $('#ukrText' + id).css('border-color', 'red');
                            $('#ukrTextError' + id).html(error.fieldMessage);
                            setTimeout(function () {
                                $('#ukrTextError' + id).html('');
                            }, 5000);
                        } else if (error.fieldName === ('ukrTextFemale')) {
                            $('#ukrTextFemale' + id).css('border-color', 'red');
                            $('#ukrTextFemaleError'+ id).html(error.fieldMessage);
                            setTimeout(function () {
                                $('#ukrTextFemaleError' + id).html('');
                            }, 5000);
                        } else if (error.fieldName === ('engText')) {
                            $('#engText' + id).css('border-color', 'red');
                            $('#engTextError' + id).html(error.fieldMessage);
                            setTimeout(function () {
                                $('#engTextError' + id).html('');
                            }, 5000);
                        }
                    }
                } else {
                    showErrorToast("Помилка сервера");
                }
            }
        });
    }
</script>
</body>
</html>