<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <div class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="container layout_page">


            <div class="page-table" style="flex-direction: column;">
                <h3>Word аудіо</h3>
                <table style="width: 90%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>br. audio name</th>
                        <th>usa. audio name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="audio : ${audios}">
                        <td th:text="${audio.id}"></td>
                        <td th:text="${audio.name}"></td>
                        <td th:if="${audio.brAudioName != null}" th:text="${audio.brAudioName}"></td>
                        <td th:if="${audio.brAudioName == null}" ><span>Файл ще не завантажен</span></td>
                        <td th:if="${audio.usaAudioName != null}" th:text="${audio.usaAudioName}"></td>
                        <td th:if="${audio.usaAudioName == null}" ><span>Файл ще не завантажен</span></td>
                        <td>
                            <form th:action="@{/admin-page/word-audio/{id}/audio-upload-page(id=${audio.id})}">
                                <button type="submit">Завантажити / Змінити</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>



        </main>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </div>
    <!-- відображення пагінації -->
    <div class="pagination">
        <div>
            <a th:href="@{/admin-page/audios(page=(${currentPage} - 1))}">Попередня</a>
        </div>
        <div>
            <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/admin-page/audios(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </span>
        </div>
        <div>
            <a style="margin-right: auto" th:href="@{/admin-page/audios(page=(${currentPage} + 1))}">Наступна ></a>
        </div>
    </div>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>