<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">

<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page ">
            <div class="page-table row">
                <div class="col-md-6 col-lg-7 block_left" style="height: calc(90vh - 120px);">
                    <h3>Категорії</h3>
                    <div id="categoryTree">
                        <ul th:each="wordCategory : ${wordCategories}">
                            <li th:if="${wordCategory.mainCategory}">
                                <span th:text="${wordCategory.name}"></span>
                                <span th:if="${wordCategory.subcategories != null}" class="toggle">▼</span>
                                <a th:href="@{'/admin-page/' + ${wordCategory.id} + '/category-edit'}" style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>
                                <ul th:if="${wordCategory.subcategories != null}" class="category">
                                    <li th:each="subcategory : ${wordCategory.subcategories}">
                                        <span th:text="${subcategory.name}"></span>
                                        <span th:if="${subcategory.subcategories != null}" class="toggle">▼</span>
                                        <a th:href="@{'/admin-page/' + ${subcategory.id} + '/category-edit'}" style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>
                                        <ul th:if="${subcategory.subcategories != null}" class="category">
                                            <li th:each="subcategoryTwo : ${subcategory.subcategories}" style="margin-top: 5px;">
                                                <span th:text="${subcategoryTwo.name}"></span>
                                                <span th:if="${subcategoryTwo.subcategories != null}" class="toggle">▼</span>
                                                <a th:href="@{'/admin-page/' + ${subcategoryTwo.id} + '/category-edit'}" style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>
                            <li th:if="${wordCategory.parentCategory == null && !wordCategory.mainCategory}">
                                <span th:text="${wordCategory.name}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 block_right">
                    <!--                <div class="row">-->
                    <h3>Створити нову категорію</h3>
                    <div>
                        <form action="/admin-page/categories/new-category">
                            <button type="submit">Створити</button>
                        </form>
                    </div>
                    <!--                </div>-->
                </div>

            </div>
        </div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    $(document).ready(function () {
        $('.toggle').click(function () {
            $(this).siblings('.category').slideToggle().toggleClass('visible');
        });
    });
</script>
</body>
</html>