<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">

<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="layout_page ">
            <div class="d-flex flex-column" style="height: calc(100vh - 230px);">
                <div class="d-flex flex-row">
                    <h3>Категорії</h3>
                    <div style="margin-left: auto;">
                        <form action="/admin/categories/new-category">
                            <button type="submit"><i class="fa-regular fa-square-plus"></i></button>
                        </form>
                    </div>
                </div>
                <div id="categoryTree">
                    <ul th:each="category : ${categories}">
                        <li th:if="${category.mainCategory}">
                            <span th:text="${category.name}"></span>
                            <span th:if="${category.subcategories != null && !#lists.isEmpty(category.subcategories)}" class="toggle">▼</span>
                            <a th:href="@{/admin/category-edit/{id}(id=${category.id})}"
                               style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>
<!--                            <button type="button" class="btn btn-primary open-modal" data-bs-toggle="modal"-->
<!--                                    data-bs-target="#exampleModal" th:data-entity-id="${category.id}">-->
<!--                                <i class="fa-solid fa-upload"></i>-->
<!--                            </button>-->
                            <ul th:if="${category.subcategories != null}" class="category">
                                <li th:each="subcategory : ${category.subcategories}">
                                    <span th:text="${subcategory.name}"></span>
                                    <span th:if="${subcategory.subcategories != null && !#lists.isEmpty(subcategory.subcategories)}" class="toggle">▼</span>
                                    <a th:href="@{/admin/category-edit/{id}(id=${subcategory.id})}"
                                       style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>
<!--                                    <button type="button" class="btn btn-primary open-modal" data-bs-toggle="modal"-->
<!--                                            data-bs-target="#exampleModal" th:data-entity-id="${subcategory.id}">-->
<!--                                        <i class="fa-solid fa-upload"></i>-->
<!--                                    </button>-->
                                    <ul th:if="${subcategory.subcategories != null}" class="category">
                                        <li th:each="subSubcategory : ${subcategory.subcategories}"
                                            style="margin-top: 5px;">
                                            <span th:text="${subSubcategory.name}"></span>
                                            <span th:if="${subSubcategory.subcategories != null && !#lists.isEmpty(subSubcategory.subcategories)}" class="toggle">▼</span>
                                            <a th:href="@{/admin/category-edit/{id}(id=${subSubcategory.id})}"
                                               style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li th:if="${category.parentCategory == null && !category.mainCategory}">
                            <span th:text="${category.name}"></span>
                            <a th:href="@{/admin/category-edit/{id}(id=${category.id})}"
                               style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- Модальне вікно -->
<div th:replace="~{fragments/popup :: popup}"></div>

<script>
    $(document).ready(function () {
        $('.toggle').click(function () {
            $(this).siblings('.category').slideToggle().toggleClass('visible');
        });
    });

    $(document).ready(function () {
        console.log('ready');
        $('.open-modal').click(function () {
            console.log('ready 2');
            var entityId = $(this).data('entity-id');
            $('#entityId').val(entityId);
            console.log('ready 3');
        });


        $('#imageForm').submit(function (event) {
            event.preventDefault();
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            var image = $('#image')[0].files[0];
            var formData = new FormData();
            var entityId = $('#imageForm input[name="entityId"]').val();
            var url = '/admin-page/category-image/' + entityId + '/upload';
            formData.append('categoryImage', image);
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (result) {
                    var status = result.status;
                    if (status == "Success") {
                        showSuccessToast(result.message);
                        setTimeout(function () {
                            location.reload();
                        }, 3000);
                    } else {
                        showErrorToast(result.message);
                    }
                },
                error: function (xhr, status, error) {
                    showErrorToast("Помилка при завантаженні");
                }
            });
        });
    });

</script>
</body>
</html>