<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head_old :: head_old}"></head>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header_2 :: header_2}"></header>
        <div class="container layout_page">
            <h3>Редагування категорії</h3>
            <form id="editor">
                <label for="name">Назва:</label>
                <input type="text" class="input" id="name" name="name" th:value="${category.name}">
                <label>Батьківська категорія:</label> <label style="color: white;" th:text="${parentCategory}"></label><br>
                <label for="mainCategorySelect">Змінити категорію: </label>
                <select id="mainCategorySelect" name="selectedPageApplication">
                    <option name="id" value="0">Оберіть категорію</option>
                    <option th:each="mainCategory : ${mainCategories}" th:value="${mainCategory.id}"
                            th:text="${mainCategory.name}">
                    </option>
                </select>
                <select id="subcategorySelect" name="subcategorySelect">
                    <option name="id" value="0">Оберіть підкатегорію</option>
                </select>
                <span style="padding: 10px 0px 0px 25px;">Головна категорія: </span>
                <input id="toggleSwitch" type="checkbox" th:checked="${category.mainCategory}" class="toggle-switch" name="mainCategory">
                <label for="toggleSwitch" class="toggle-switch-label"></label>
                <div th:if="${category.mainCategory}">
                    <span>Вигляд підкатегорій на сторінці: </span>
                    <input id="view" type="checkbox" th:checked="${category.viewSubcategoryFullNoInfoOrNameAndInfo}" class="toggle-switch" name="view">
                    <label for="view" class="toggle-switch-label"></label><br>
                    <label for="page">Сторінка вивода</label>
                    <select id="page" name="categoryPage">
                        <option value="NO_PAGE">Оберіть сторінку вивода</option>
                        <option value="VOCABULARY_PAGE">Словник</option>
                        <option value="MINI_STORIES">Міні історії</option>
                        <option value="LESSON_WORDS">Заняття для слів</option>
                        <option value="LESSON_PHRASES">Заняття для фпаз</option>
                    </select>
                </div>
                <h3 style="color: #0a53be;">Зображення категорії</h3>
                <input type="file" id="imageInput" name="image" onchange="previewImage()" accept="image/*"/>
                <img id="preview" th:if="${category.image != null && category.image.imageName != null}"
                     th:src="@{/category-image/{name}(name=${category.image.imageName})}" width="100" height="auto"/>
                <img id="preview" th:if="${category.image == null || category.image.imageName == null}"
                     width="100" height="auto"/>

                <hr>
                <label for="info">Текст:</label>
                <textarea id="info" name="info" th:text="${category.description}"></textarea>
                <input type="hidden" name="id" th:value="${category.id}"><br>
                <button type="submit">Зберегти</button>
            </form>
        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu_old :: menu_old}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/adminPage_js/tinyMce.js}"></script>
<script type="text/javascript" th:src="@{/js/adminPage_js/categoryEdit.js}"></script>
</body>
</html>