<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <div class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="container layout_page">


            <div class="page-table row">

                <h3 style="margin-bottom: auto;">Слова додатка</h3>
                <div style="margin-left: auto; margin-bottom: auto;">
                    <form action="/admin/phrase-lessons/new-phrase-lesson">
                        <button type="submit"><i class="fa-regular fa-square-plus"></i></button>
                    </form>
                </div>
                <table style="width: 100%; margin-top: 20px;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lesson : ${lessons}">
                        <td th:text="${lesson.id}"></td>
                        <td th:text="${lesson.name}"></td>
                        <td>
                            <a th:href="@{/admin/phrase-lessons/phrase-lesson-edit/{id}(id=${lesson.id})}"
                               class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </div>
    <!-- відображення пагінації -->
    <div class="pagination">
        <div>
            <a th:href="@{/admin/phrase-lessons(page=(${currentPage} - 1))}">Попередня</a>
        </div>
        <div>
            <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/admin/phrase-lessons(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </span>
        </div>
        <div>
            <a style="margin-right: auto" th:href="@{/admin/phrase-lessons(page=(${currentPage} + 1))}">Наступна ></a>
        </div>
    </div>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<!--<script type="text/javascript" th:src="@{/js/searchWord.js}"></script>-->
</body>
</html>