<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<!--<style>-->
<!--    .search_result_style {-->
<!--        position: absolute;-->
<!--        top: 60px;-->
<!--        background: rgba(45, 45,52, 0.99);-->
<!--        color: wheat;-->
<!--        height: auto;-->
<!--        width: auto;-->
<!--        border-radius: 20px;-->
<!--        padding: 15px;-->
<!--        z-index: 9999;-->
<!--        border: 1px solid;-->
<!--    }-->
<!--    .result-block {-->
<!--        display: flex;-->
<!--    }-->
<!--</style>-->
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page">
            <h1>Нова сторінка для фраз</h1>
            <form id="editor">
                <label for="name">Назва:</label>
                <input type="text" id="name" name="name" th:value="${translationPairsPage.name}">
                <label>Категорія:</label> <label th:text="${category} + ' | '"></label>
                <label for="mainCategorySelect">Змінити категорію: </label>
                <select id="mainCategorySelect" name="selectedPageApplication">
                    <option name="id" value="0">Оберіть категорію</option>
                    <option th:each="mainTranslationPairsPagesCategory : ${mainTranslationPairsPagesCategories}"
                            th:value="${mainTranslationPairsPagesCategory.id}"
                            th:text="${mainTranslationPairsPagesCategory.name}">
                    </option>
                </select>
                <select id="subcategorySelect" name="subcategorySelect">
                    <option name="id" value="0">Оберіть підкатегорію</option>
                </select>
                <select id="subSubcategorySelect" name="subcategorySelect">
                    <option name="id" value="0">Оберіть підкатегорію</option>
                </select>
                <span style="padding: 10px 0px 0px 25px;">Опубліковано: </span>
                <input id="toggleSwitch" type="checkbox" th:checked="${translationPairsPage.published}"
                       class="toggle-switch" name="published">
                <label for="toggleSwitch" class="toggle-switch-label"></label>

                <div id="addedItemsContainer" ></div>
                <hr>
                <label for="info">Текст:</label>
                <textarea id="info" name="info" th:text="${translationPairsPage.info}"></textarea>
                <input type="hidden" name="id" th:value="${translationPairsPage.id}" required>
                <button type="submit">Зберегти</button>
            </form>
        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<script type="text/javascript" th:src="@{/js/tinyMce.js}"></script>
<script type="text/javascript" th:src="@{/js/translationPairPageEdit.js}"></script>
</body>
</html>