<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <div class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="container layout_page">

            <div class="page-table row">

                <h3 style="margin-bottom: auto;">Картки словника</h3>
                <div style="margin-left: auto; margin-bottom: auto;">
                    <form action="/admin/vocabulary-pages/new-vocabulary-page">
                        <button type="submit"><i class="fa-regular fa-square-plus"></i></button>
                    </form>
                </div>
                <table style="width: 100%; margin-top: 20px;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Published</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vocabularyPage : ${vocabularyPages}">
                        <td th:text="${vocabularyPage.id}"></td>
                        <td>
                            <span th:if="${vocabularyPage.published}">Yes</span>
                            <span th:if="${!vocabularyPage.published}">No</span>
                        </td>
                        <td th:text="${vocabularyPage.name}"></td>
                        <td th:if="${vocabularyPage.category != null}" th:text="${vocabularyPage.category.name}"></td>
                        <td th:if="${vocabularyPage.category == null}">Відсутня</td>
                        <td>
                            <img th:if="${vocabularyPage.image != null && vocabularyPage.image.imageName != null}" th:src="@{/vocabulary-page/{name}(name=${vocabularyPage.image.imageName})}" width="60" height="auto"/>
                            <span th:if="${vocabularyPage.image == null || vocabularyPage.image.imageName == null}">Відсутнє</span>
                        </td>
                        <td>
                            <form th:action="@{/admin/vocabulary-pages/vocabulary-page-edit/{id}(id=${vocabularyPage.id})}">
                                <button type="submit"><i class="fa-regular fa-pen-to-square"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--                    </div>-->
                <!--        </div>-->


                <!--        <div class="col-md-6 col-lg-5 block_right">-->
                <!--          &lt;!&ndash;                <div class="row">&ndash;&gt;-->


                <!--          <h3>Додати нове слово</h3>-->
                <!--          <div>-->
                <!--            <form action="/admin-page/words/new-wordLesson">-->
                <!--              <button type="submit">New wordLesson</button>-->
                <!--            </form>-->
                <!--          </div>-->

                <!--          &lt;!&ndash;                </div>&ndash;&gt;-->
                <!--        </div>-->

            </div>



        </main>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </div>
    <!-- відображення пагінації -->
    <div class="pagination">
        <div>
            <a th:href="@{/admin/vocabulary-pages(page=(${currentPage} - 1))}">Попередня</a>
        </div>
        <div>
            <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/admin/vocabulary-pages(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </span>
        </div>
        <div>
            <a style="margin-right: auto" th:href="@{/admin/vocabulary-pages(page=(${currentPage} + 1))}">Наступна ></a>
        </div>
    </div>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<!--<script type="text/javascript" th:src="@{/js/searchWord.js}"></script>-->
<script>
    $('#wordImage').submit(function (event) {
        event.preventDefault();
        var csrfToken = $("meta[name='_csrf']").attr("content");
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");
        var wordImage = $('#image')[0].files[0];
        var formData = new FormData();
        var url = $(this).attr('action');
        formData.append('wordImage', wordImage);

        $.ajax({
            // url: $(this).attr('action'),
            url: url,
            type: 'POST',
            data: formData, // Використовуємо об'єкт FormData замість JSON
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (result) {
                var status = result.status;
                if (status == "Success") {
                    showSuccessToast(result.message);
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                } else {
                    showErrorToast(result.message);
                }
            },
            error: function (xhr, status, error) {
                showErrorToast("Помилка при завантаженні");
            }
        });
    });
</script>
</body>
</html>