<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page">



            <h1>New text page</h1>
            <form id="editor">
                <label for="name">Назва:</label>
                <input type="text" id="name" name="name" th:value="${word.name}">
                <label for="name">Український перевод:</label>
                <input type="text" id="translate" name="translate" th:value="${word.translate}"
                       placeholder="Український перевод"><br>
                <label for="usaTranscription">Ам. транскрипція:</label>
                <input type="text" id="usaTranscription" name="usaTranscription" th:value="${word.usaTranscription}"
                       placeholder="Український перевод">
                <label for="brTranscription">Бр. транскрипція:</label>
                <input type="text" id="brTranscription" name="brTranscription" th:value="${word.brTranscription}"
                       placeholder="Український перевод"><br>


                <label for="irregularVerbPt">irregular verb: p.t.</label>
                <input type="text" id="irregularVerbPt" name="irregularVerbPt" th:value="${word.irregularVerbPt}"
                       placeholder="Український перевод">
                <label for="irregularVerbPp">irregular verb: p.p.</label>
                <input type="text" id="irregularVerbPp" name="irregularVerbPp" th:value="${word.irregularVerbPp}"
                       placeholder="Український перевод"><br>


                <label>Категорія:</label> <label th:text="${category} + ' | '"></label>
                <label for="mainCategorySelect">Змінити категорію: </label>
                <select id="mainCategorySelect" name="selectedPageApplication">
                    <option name="id" value="0">Оберіть категорію</option>
                    <option th:each="wordsMainCategory : ${mainWordsCategories}" th:value="${wordsMainCategory.id}"
                            th:text="${wordsMainCategory.name}">
                    </option>
                </select>
                <select id="subcategorySelect" name="subcategorySelect">
                    <option name="id" value="0">Оберіть підкатегорію</option>
                </select>
                <select id="subSubcategorySelect" name="subcategorySelect">
                    <option name="id" value="0">Оберіть підкатегорію</option>
                </select><br>
                <span style="padding: 10px 0px 0px 25px;">Опубліковано: </span>
                <input id="toggleSwitch" type="checkbox" th:checked="${word.published}" class="toggle-switch"
                       name="published">
                <label for="toggleSwitch" class="toggle-switch-label"></label>
                <label>Опис:</label>
                <textarea type="text" name="description" th:text="${word.description}"></textarea>
                <hr>


                <label>Додані фрази на сторінку: </label>
                <div id="addedItemsContainer"></div>
                <br>

                <label>Присутні фрази на сторінці: </label>
                <div id="savedItemsContainer">
                    <div th:each="translationPair : ${word.translationPairs}">
                        <label th:text="${translationPair.engText}"></label>
                        <input name="id" type="hidden" th:value="${translationPair.id}">
                        <button class="deleteBtn" th:data-id="${translationPair.id}">Видалити</button>
                    </div>
                </div>



                <hr>
                <label for="info">Текст:</label>
                <textarea id="info" name="text" th:text="${word.text}"></textarea>
                <input type="hidden" name="wordId" th:value="${word.id}">
                <button type="submit">Зберегти</button>
            </form>




        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/tinyMce.js}"></script>
<script type="text/javascript" th:src="@{/js/adminPage_js/wordEdit.js}"></script>
</body>
</html>