<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <div class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="container layout_page">



            <h1>New text page</h1>
            <form id="editor" enctype="multipart/form-data">
                <label for="name">Назва:</label>
                <input type="text" id="name" name="name" th:value="${word.name}">
                <label for="name">Український перевод:</label>
                <input type="text" id="translate" name="translate" th:value="${word.translate}"
                       placeholder="Український перевод"><br>
                <label for="usaTranscription">Ам. транскрипція:</label>
                <input type="text" id="usaTranscription" name="usaTranscription" th:value="${word.usaTranscription}"
                       placeholder="Український перевод">
                <label for="brTranscription">Бр. транскрипція:</label>
                <input type="text" id="brTranscription" name="brTranscription" th:value="${word.brTranscription}"
                       placeholder="Український перевод"><br>


                <label for="irregularVerbPt">irregular verb: p.t.</label>
                <input type="text" id="irregularVerbPt" name="irregularVerbPt" th:value="${word.irregularVerbPt}"
                       placeholder="Непр. дієслово Past Simple">
                <label for="irregularVerbPp">irregular verb: p.p.</label>
                <input type="text" id="irregularVerbPp" name="irregularVerbPp" th:value="${word.irregularVerbPp}"
                       placeholder="Непр. дієслово Past Participle"><br>
                <br>
                <span style="padding: 10px 0px 0px 25px;">Опубліковано: </span>
                <input id="toggleSwitch" type="checkbox" th:checked="${word.isActiveURL}" class="toggle-switch"
                       name="published">
                <label for="toggleSwitch" class="toggle-switch-label"></label>
<!--                <label>Опис:</label>-->
<!--                <textarea type="text" name="description" th:text="${word.description}"></textarea>-->
                <hr>

                <div style="display: flex;">
                    <div class="col-md-4">
                        <label for="brAudio" class="form-label">Бр. аудио</label>
                        <input class="form-control" type="file" id="brAudio" accept="audio/mpeg">
                    </div>
                    <div class="col-md-4">
                        <label for="usaAudio" class="form-label">Ам. аудио</label>
                        <input class="form-control" type="file" id="usaAudio" accept="audio/mpeg">
                    </div>

                </div>

                <hr>
                <input type="hidden" name="wordId" th:value="${word.id}">
                <button type="submit">Зберегти</button>
            </form>




        </main>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </div>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<!--<script type="text/javascript" th:src="@{/js/adminPage_js/tinyMce.js}"></script>-->
<script type="text/javascript" th:src="@{/js/adminPage_js/wordEdit.js}"></script>
</body>
</html>