<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="sidebar">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
    <main class="section main_content ">
        <div class="container layout_page">
            <h1>New text page</h1>
            <form id="editor">
                <label for="name">Назва:</label>
                <input type="text" id="name" name="name" th:value="${word.name}">
                <label for="name">Український перевод:</label>
                <input type="text" id="translate" name="translate" th:value="${word.translate}"
                       placeholder="Український перевод">
                <label for="usaTranscription">Ам. транскрипція:</label>
                <input type="text" id="usaTranscription" name="usaTranscription" th:value="${word.usaTranscription}"
                       placeholder="Український перевод">
                <label for="brTranscription">Бр. транскрипція:</label>
                <input type="text" id="brTranscription" name="brTranscription" th:value="${word.brTranscription}"
                       placeholder="Український перевод"><br>


                <label for="irregularVerbPt">Ам. транскрипція:</label>
                <input type="text" id="irregularVerbPt" name="irregularVerbPt" th:value="${word.irregularVerbPt}"
                       placeholder="Український перевод">
                <label for="irregularVerbPp">Бр. транскрипція:</label>
                <input type="text" id="irregularVerbPp" name="irregularVerbPp" th:value="${word.irregularVerbPp}"
                       placeholder="Український перевод"><br>


                <label>Категорія:</label> <label th:text="${category} + ' | '"></label>
                <label for="mainCategorySelect">Змінити категорію: </label>
                <select id="mainCategorySelect" name="selectedPageApplication">
                    <option name="id" value="0">Оберіть категорію</option>
                    <option th:each="wordsMainCategory : ${mainWordsCategories}" th:value="${wordsMainCategory.id}"
                            th:text="${wordsMainCategory.name}">
                    </option>
                </select>
                <select id="subcategorySelect" name="subcategorySelect">
                    <option name="id" value="0">Оберіть підкатегорію</option>
                </select>
                <select id="subSubcategorySelect" name="subcategorySelect">
                    <option name="id" value="0">Оберіть підкатегорію</option>
                </select>
                <span style="padding: 10px 0px 0px 25px;">Опубліковано: </span>
                <input id="toggleSwitch" type="checkbox" th:checked="${word.published}" class="toggle-switch"
                       name="published">
                <label for="toggleSwitch" class="toggle-switch-label"></label>
                <hr>
                <label for="info">Текст:</label>
                <textarea id="info" name="text" th:text="${word.text}"></textarea>
                <input type="hidden" name="id" th:value="${word.id}" required>
                <button type="submit">Зберегти</button>
            </form>
        </div>
    </main>
    <!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>


<script>


</script>
<script type="text/javascript" th:src="@{/js/tinyMce.js}"></script>
<script type="text/javascript" th:src="@{/js/wordEdit.js}"></script>
</body>
</html>