<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page">



            <div class="admin_page adm-menu">
                <div class="w-100">
                    <div class="navigation-block row justify-content-between">

                        <a href="/admin-page/categories">
                            <div class="navigation_admin_page bb col-md-4 col-lg-4"
                                 style="background-color: rgb(116 21 45)">
                                <div class="d-flex flex-row align-items-center">
                                    <div style="width: 25%;">
                                        <i class="fa-solid fa-qrcode"></i>
                                    </div>
                                    <div style="width: 75%;">
                                        <span>Категорії</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/admin-page/phrases-pages">
                            <div class="navigation_admin_page bb col-md-4 col-lg-4">
                                <div class="d-flex flex-row align-items-center">
                                    <div style="width: 25%;">
                                        <i class="fa-regular fa-comment"></i>
                                    </div>
                                    <div style="width: 75%;">
                                        <span>Фрази</span>
                                    </div>
                                </div>

                            </div>
                        </a>
                        <a href="/admin-page/words">
                            <div class="navigation_admin_page bb col-md-4 col-lg-4"
                                 style="background-color: rgb(20 139 127);">
                                <div class="d-flex flex-row align-items-center">
                                    <div style="width: 25%;">
                                        <i class="fa-regular fa-file-word"></i>
                                    </div>
                                    <div style="width: 75%;">
                                        <span>Слова</span>
                                    </div>
                                </div>

                            </div>
                        </a>

                        <a href="/admin-page/images">
                            <div class="navigation_admin_page bb col-md-4 col-lg-4"
                                 style="background-color: rgb(84 57 172);">
                                <div class="d-flex flex-row align-items-center">
                                    <div style="width: 25%;">
                                        <i class="fa-regular fa-images"></i>
                                    </div>
                                    <div style="width: 75%;">
                                        <span>Зображення</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/admin-page/audios">
                            <div class="navigation_admin_page bb col-md-4 col-lg-4"
                                 style="background-color: rgb(215 97 13);">
                                <div class="d-flex flex-row align-items-center">
                                    <div style="width: 25%;">
                                        <i class="fa-solid fa-headphones-simple"></i>
                                    </div>
                                    <div style="width: 75%;">
                                        <span>Аудіо</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <hr>



        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
</body>
</html>