<ul th:if="${wordCategory.subcategories != null}" class="category" th:fragment="category">
    <li th:each="subcategory : ${wordCategory.subcategories}">
        <span th:text="${wordCategory.name}"></span>
        <span th:if="${wordCategory.subcategories != null}" class="toggle">▼</span>
        <a th:href="@{'/admin-page/' + ${wordCategory.id} + '/category-edit'}">Редагувати</a>
        <ul th:if="${wordCategory.subcategories != null}" th:replace="~{fragments/category :: category}">
            <!--                                    <li th:each="subcategory : ${wordCategory.subcategories}">-->
            <!--                                        <span th:text="${subcategory.name}"></span>-->
            <!--                                    </li>-->
        </ul>
    </li>
</ul>
