<head th:fragment="head">
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/learnScript.js"></script>
<!--    <script src="js/script.js" type="text/javascript"></script>-->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
    <!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"  rel="stylesheet"/>-->


    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <script href="js/bootstrap.bundle.min.js"></script>

</head>
