<!--<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">-->
<div th:fragment="menu">
    <div class="sidebar">

        <div class="profile" th:unless="${userId}">
                            <img id="avatar" src="/images/logo.png" alt="Фото користувача">
            <h3 style="margin-top: 15px;">Learn English</h3>
<!--            <p>Designer</p>-->
        </div>
        <div class="profile" th:if="${userId}">
<!--                            <img src="https://via.placeholder.com/200x200" alt="Фото користувача">-->

            <img th:if="${avatarName}" id="userAvatar"  th:src="@{/avatar/{avatarName}(avatarName = ${avatarName})}" alt="User avatar"/>
            <img th:unless="${avatarName}" id="userAvatar" src="https://via.placeholder.com/200x200"  alt="User avatar"/>

            <h6 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}" style="margin-top: 15px;"></h6>
<!--            <p>Designer</p>-->
        </div>

        <ul class="main-menu">
            <li th:unless="${userId}">
                <a href="/">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li th:if="${userId}">
                <a th:href="@{/user/{id}(id=${userId})}">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Профіль</span>
                </a>
            </li>
            <li th:if="${userId}">
                <a th:href="@{/user/{id}/statistics(id=${userId})}">
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="item">Статистика</span>
                </a>
            </li>

            <li th:if="${userId}">
                <a th:href="@{/user/{id}/lesson/1(id=${userId})}">
                    <span class="icon"><i class="fas fa-desktop"></i></span>
                    <span class="item">Заняття</span>
                </a>
            </li>
            <li>
                <a href="/about-the-app">
                    <span class="icon"><i class="fas fa-user-friends"></i></span>
                    <span class="item">Про додаток</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-database"></i></span>
                    <span class="item">Development</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span class="item">Reports</span>
                </a>
            </li>
            <li>
                <a href="/admin/lessons">
                    <span class="icon"><i class="fas fa-user-shield"></i></span>
                    <span class="item">Admin</span>
                </a>
            </li>
<!--            <li th:unless="${userId}">-->
<!--                <a th:href="@{/user/{id}(id=${userId})}">-->
<!--                    <span class="icon"><i class="fas fa-cog"></i></span>-->
<!--                    <span class="item">Profile</span>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>
    <script type="text/javascript">
        $('document').ready(function () {
            $('.main-menu a').each(function () {
                if ('https://localhost:8443' + $(this).attr('href') == window.location.href) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
</div>
<!--</th:block>-->