<!--<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">-->
<div class="sidebarMobile" th:fragment="menuMobile" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="close_menu">
        <span sec:authorize="isAuthenticated()">Learn English</span>
        <span sec:authorize="isAnonymous()" style="opacity: 0">Learn English</span>
        <a href="#"><i class="fas fa-times"></i></a>
    </div>

    <div class="profile" sec:authorize="isAnonymous()">
        <img id="avatar" src="/images/logo.png" alt="Фото користувача">
        <h3 style="margin-top: 15px;">Learn English</h3>
        <!--            <p>Designer</p>-->
    </div>
    <div class="profile" sec:authorize="isAuthenticated()">
        <!--                            <img src="https://via.placeholder.com/200x200" alt="Фото користувача">-->

        <img th:if="${session.avatarName}" id="userAvatar"  th:src="@{/avatar/{avatarName}(avatarName = ${session.avatarName})}" alt="User avatar"/>
        <img th:unless="${session.avatarName}" id="userAvatar" src="https://via.placeholder.com/200x200"  alt="User avatar"/>
        <h6 th:text="${session.userFirstName} + ' ' + ${session.userLastName}" style="margin-top: 15px;"></h6>
        <!--            <p>Designer</p>-->
    </div>

    <ul class="main-menu">
        <li sec:authorize="isAnonymous()">
            <a href="/">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="item">Home</span>
            </a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/user/{id}(id=${session.userId})}">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="item">Профіль</span>
            </a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/user/{id}/statistics(id=${session.userId})}">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                <span class="item">Статистика</span>
            </a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/lesson/1}">
                <span class="icon"><i class="fas fa-desktop"></i></span>
                <span class="item">Заняття</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/user/{id}/translation-pairs (id=${session.userId})}">
                <span class="icon"><i class="fas fa-database"></i></span>
                <span class="item">Мої фрази</span>
            </a>
        </li>
        <li>
            <a href="/about-the-app">
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span class="item">Про додаток</span>
            </a>
        </li>

        <!--            <li>-->
        <!--                <a href="#">-->
        <!--                    <span class="icon"><i class="fas fa-chart-line"></i></span>-->
        <!--                    <span class="item">Reports</span>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <th:block th:if="${userRole == 'ADMIN'}">-->
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/admin-page">
                <span class="icon"><i class="fas fa-user-shield"></i></span>
                <span class="item">Admin</span>
            </a>
        </li>
        <!--            </th:block>-->
        <!--            <li th:unless="${userId}">-->
        <!--                <a th:href="@{/user/{id}(id=${userId})}">-->
        <!--                    <span class="icon"><i class="fas fa-cog"></i></span>-->
        <!--                    <span class="item">Profile</span>-->
        <!--                </a>-->
        <!--            </li>-->
    </ul>
    <!--    </div>-->
    <script type="text/javascript">
        var hamburger = document.querySelector(".hamburger");
        var close = document.querySelector(".close_menu");
        var wrapper = document.querySelector(".wrapper");
        hamburger.addEventListener("click", function() {
            wrapper.classList.toggle("active");
        });
        close.addEventListener("click", function() {
            wrapper.classList.remove("active");
        });
        $('document').ready(function () {
            $('.main-menu a').each(function () {
                if ('https://localhost:8443' + $(this).attr('href') == window.location.href) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
</div>
<!--</th:block>-->