<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Завантажити зображення</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Форма для завантаження зображення -->
        <form id="imageForm">
          <input id="entityId" type="hidden" name="entityId">
          <input class="form-control" type="file" id="image" accept="image/*" style="height: 32px;">
          <button type="submit" class="btn btn-primary mt-3">Завантажити</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>