/*================================== DYCALENDAR SHADOW ENDS HERE ===========*/
.box_calendar{
    position: relative;
}
.container_calendar{
    position: relative;
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(26, 26, 26, 0.1), -15px -15px 30px #00000069;
}
#calendar{
    width: 100%;
    padding: 30px 30px 20px;
}
#calendar table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}
#calendar table tr:nth-child(1) th{
    background: rgb(50 50 50);
    color: wheat;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(10, 10, 10, 0.5);
    border: 2px solid #444;
}
#calendar table tr:nth-child(1) th:nth-child(1){
    background: #f44336;
}
#calendar table tbody tr td:first-child span {
    background: #f44336;
}
.ui-datepicker-week-end .ui-datepicker-unselectable .ui-state-disabled .disabled{
    background: #f44336;
    border-radius: 10px;
}
#calendar table th{
    color: #777;
    /*padding: 5px 10px;*/
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1.25em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1);
}
#calendar table th:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 1);
}
#calendar table td:first-child{
    color: #f44336;
}
/*.dycalendar-span-month-year{*/
/*    color: #2196f3;*/
/*    font-size: 1.8em;*/
/*    font-weight: 400;*/
/*}*/
/*.dycalendar-month-container . .dycalendar-target-date{*/
/*    background: #2196f3;*/
/*    color: #FFFFFF;*/
/*    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),  -5px -5px 10px rgba(255, 255, 255, 1) !important;*/
/*    border: 2px solid #edf1f4;*/
/*}*/
/*.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn{*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    font-size: 2em;*/
/*    left: 15px;*/
/*    color: #777;*/
/*    background: #edf1f4;*/
/*    border-radius: 10px;*/
/*    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1);*/
/*}*/
/*.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn{*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    font-size: 2em;*/
/*    right: 15px;*/
/*    color: #777;*/
/*    background: #edf1f4;*/
/*    border-radius: 10px;*/
/*    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),  -5px -5px 10px rgba(255, 255, 255, 1);*/
/*}*/
/*.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn:active,*/
/*.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn:active{*/
/*    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 1);*/
/*}*/
.ui-datepicker th {
    padding: .3em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td { /*  вибрані дні*/
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .3em;
    text-align: center;
    text-decoration: none;
    border-radius: 3px
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 3em;
    height: 2em;
    border-radius: 5px;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),  -5px -5px 10px rgba(9, 9, 9, 0.5);
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),  -5px -5px 10px rgba(9, 9, 9, 0.5);
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 37%;
    margin-top: -8px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    /*border: 1px solid #cccccc;   !* *!*/
    background: #363636;
    font-weight: normal;
    color: wheat;
}
.ui-datepicker .ui-icon {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}
.ui-icon {
    position: absolute;
    top: 1px;
    right: 10px;
    width: 30px;
    height: 30px;
    /*background: #9a9a9a;*/
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-icon-circle-triangle-w:before {
    content: '\f053';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}
.ui-icon-circle-triangle-e:before {
    content: '\f054';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
    /*color: black;*/
}
.disabled {
    opacity: 0.8;
    color: #000000 !important;
    cursor: default;
}
.ui-state-default .ui-state-active{
    border-bottom: 4px solid;
}




.ui-widget-header {
    color: wheat;
    font-weight: bold;
}
.ui-widget-header a {
    color: wheat;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker {
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.highlight {
    color: wheat;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),  -5px -5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
@media (max-width: 1080px) {
    .container_calendar{
        min-width: 350px;
    }
    #calendar{
        padding: 20px 20px 20px;
    }
}

/*@media (min-width: 1081px) {*/


/*}*/

