@media (min-width: 280px){
    .lessons {
        margin: 0;
    }
    .lessons-categories {
        margin: 5px 0;
        padding: 20px 10px;
        /*border-radius: 20px;*/
        gap: 10px;
    }
    .lessons-categories img{
        margin: 0;
        width: 88px;
        height: 132px;
    }
    .text_info_m {
        display: block;
    }
    .text_info {
        display: none;
    }

    .lessons-block {
        margin: 15px 15px 2px 15px;
        padding: 20px;
        gap: 10px;
    }
    .col-md-6 {
        width: 100%;
        margin: 10px 0;
    }

    .l_info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  /*   ******************  інші стилі  *************  */
    .layout_page {
        width: 100vw;
        margin-left: 0;
        padding: 5px;
    }
    .slider_block {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .lessons {
        margin: 20px 30px 0 20px;
    }
    .lessons-categories {
        margin: 15px 0;
        padding: 10px;
        gap: 25px;
    }
    .lessons-categories img{
        margin-right: 10px;
        width: auto;
        height: auto;
    }
    .text_info_m {
        display: none;
    }
    .text_info {
        display: block;
    }

    .lessons-block {
        margin: 20px 20px 20px 20px;
        padding: 20px;
        gap: 20px;
    }

    .col-md-6 {
        width: calc(50% - 20px);
        margin: 10px 10px;
    }

    .l_info{
        flex-direction: row;
        text-align: initial;
    }
    .slider_block {
        padding: 0 20px;
    }

}
/*@media (min-width: 992px){*/
/*    .col-md-6 {*/
/*        width: 50%;*/
/*    }*/
/*}*/
@media (min-width: 1200px) {
    /*.lessons {*/
    /*    margin: 50px 50px 50px 40px;*/
    /*}*/
    .lessons-categories {
        margin: 15px 0;
        padding: 40px;
        gap: 25px;
    }
    .lessons-categories img{
        margin-right: 15px;
        width: auto;
        height: auto;

    }
    .text_info_m {
        display: none;
    }
    .text_info {
        display: block;
    }

    .lessons-block {
        margin: 40px;
        padding: 20px;
        gap: 25px;
    }
    .col-md-6{
        width: calc(50% - 40px);
        margin: 20px 20px;
    }

    .mb-md-12 {
        padding: 0 10px;
    }
    /*.l_info{*/
    /*    flex-direction: row;*/
    /*    text-align: initial;*/
    /*}*/
    /*   ******************  інші стилі  *************  */
    .layout_page {
        width: calc(100vw - 325px);
        margin-left: 40px;
    }
    .slider_block {
        padding: 0 50px;
    }
}