.main-menu {
    padding-left: 0 !important;
}

.wrapper .sidebar {
    position: absolute;
    width: 225px;
    min-height: 100vh;
    height: fit-content;
    background: rgb(36 36 38);
    /*background: rgb(34 34 42);*/
    top: 0;
    left: 0;
    bottom: 0;
    padding: 5px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebarMobile {
    position: absolute;
    width: 70vw;
    min-width: 260px;
    max-width: 400px;
    min-height: 100vh;
    height: fit-content;
    background: rgb(36 36 38);
    top: 0;
    left: 0;
    font-size: 1em;
    padding: 5px 0;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform  0.5s ease;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
}
.wrapper .sidebarMobile .profile {
    margin-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
.wrapper .sidebarMobile .profile img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3 h4 h5 h6{
    color: #ffffff;
    margin: 10px 0 5px;
}
.wrapper .sidebarMobile .profile h3 h4 h5 h6{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}
.wrapper .sidebarMobile .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid rgb(61, 62, 62);
    color: rgb(241, 237, 237);
    /*color: #212529;*/
    font-size: 20px;
    position: relative;
}
.wrapper .sidebarMobile ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #00ffed;
    color: rgb(241, 237, 237);
    font-size: 24px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebarMobile ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: wheat;
    background: #2d2d34;
    border-right: 4px solid #7b61ff;
}
.wrapper .sidebarMobile ul li a:hover,
.wrapper .sidebarMobile ul li a.active {
    color: #171616;

    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebarMobile ul li a:hover .icon,
.wrapper .sidebarMobile ul li a.active .icon {
    color: #171616;
}

.wrapper .sidebarMobile ul li a:hover:before,
.wrapper .sidebarMobile ul li a.active:before {
    display: block;
}
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: wheat;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
    background: rgba(50, 50, 50, 0);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(34, 34, 42, 0.5), wheat, rgba(34, 34, 42, 0.5)) 1 0%;
    border-top: 0;
}

.wrapper .section .main_content {
    position: fixed;
    /*display: flex;*/
    bottom: 40px;
    top: 50px;
    /*background-color: rgba(255, 255, 255, 0.7);*/
    margin-top: 40px;
    /*left: 40px;*/
    right: 10px;
    overflow-x: auto;
    clear: both;
}

.wrapper .sidebar::before {
    right: 0;
    content: "";
    position: absolute;
    border-right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    content: "";
    background: #7c7c7c;
}


.sidebarMobile .close_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 8px 3vw 8px 2vw;
}
.sidebarMobile .close_menu span{
    font-size: 28px;
    color: #f4fbff;
}
.sidebarMobile .close_menu a{
    cursor: pointer;
    font-size: 28px;
    /*color: #f4fbff;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    color: inherit;

}
.sidebarMobile .close_menu i{
    font-size: 28px;
    color: #f4fbff;
}

.sidebarMobile .close_menu a:hover{
    background-color: #4d5154;
    border-radius: 4px;
    color: inherit;
}



.wrapper .section .top_navbar .hamburger i {
    font-size: 28px;
    color: wheat;
    cursor: pointer;

}

.wrapper .section .top_navbar .hamburger i:hover
 {
    color: white;
}
.wrapper.active .sidebarMobile {
    transform: translateX(0);
    z-index: 9999;
    visibility: visible;
    transition: transform 0.5s ease;
}

@media (max-width: 1080px) {
    body.active .wrapper .sidebar {
        left:-225px;
    }


    body.active .wrapper .section {
        margin-left:0;
        width: 100vw;
    }
    .wrapper .section .top_navbar .hamburger a {
        font-size: 28px;
        /*color: rgb(33, 37, 41);*/
        color: wheat;

    }
    .wrapper .section .top_navbar .hamburger a:hover {
        color: #234be5;
    }

    /*p {*/
    /*    font-size: 28px;*/
    /*}*/
    span {
        font-size: 22px;
    }
}
@media (min-width: 1081px) {
    body.active .wrapper .sidebar {
        left:0;
    }


    body.active .wrapper .section {
        margin-left: 225px;
        width: calc(100vw - 225px);
    }
    /*.wrapper .section .top_navbar .hamburger a{*/
    /*    display: none;*/
    /*}*/

}
