.main-menu {
    padding-left: 0 !important;
}

.wrapper .sidebar {
    background: rgb(36 36 38);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100vh;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3 h4 h5 h6{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #00ffed;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #171616;

    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

/*a.active{*/
/*    color: #0c7db1;*/

/*    background:white;*/
/*    border-right: 2px solid rgb(5, 68, 104);*/
/*}*/

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #171616;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
    background: rgb(50 50 50);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.wrapper .section .main_content {
    position: fixed;
    /*display: flex;*/
    bottom: 40px;
    top: 50px;
    /*background-color: rgba(255, 255, 255, 0.7);*/
    margin-top: 40px;
    /*left: 40px;*/
    right: 10px;
    overflow-x: hidden;
    clear: both;
}

/*.wrapper .section .section_main{*/
/*    !*background: rgb(50 50 50);*!*/
/*    !*height: 50px;*!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 0 30px;*/

/*}*/

.wrapper .section .top_navbar .hamburger a {
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
    color: #a2ecff;
}


/*body.active .wrapper .sidebar {*/
/*    left: -225px;*/
/*}*/

/*body.active .wrapper .section {*/
/*    margin-left: 0;*/
/*    width: 100%;*/
/*}*/

body.active .wrapper .sidebar {
    left: 0;
}

body.active .wrapper .section {
    margin-left: 225px;
    width: 100%;
}
body.no_active .wrapper .sidebar {
    left: -225px;
}

body.no_active .wrapper .section {
    margin-left: 0;
    width: 100%;
}

@media (max-width: 1080px) {
    body.active .wrapper .sidebar {
        left:-225px;
    }


    body.active .wrapper .section {
        margin-left:0;
        width: 100vw;
    }

    body.no_active .wrapper .sidebar {
        left: 0;
    }


    body.no_active .wrapper .section {
        margin-left: 225px;
        width: calc(100vw - 225px);
    }
}
@media (min-width: 1081px) {
    body.active .wrapper .sidebar {
        left:0;
    }


    body.active .wrapper .section {
        margin-left: 225px;
        width: calc(100vw - 225px);
    }

    body.no_active .wrapper .sidebar {
        left: -225px;
    }


    body.no_active .wrapper .section {
        margin-left: 0;
        width: 100vw;
    }
}
/*@media (max-width: 768px) {*/
/*    body.active .wrapper .sidebar {*/
/*        left: 0;*/
/*    }*/


/*    .section {*/
/*        width: 100%;*/
/*        margin-left: 0;*/
/*    }*/
/*}*/
