html,
body {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    color: wheat;
    font-family: "Roboto", sans-serif;
}

body {
    background: #22222A;
    background-image: url("../images/bg-abstract-2-dark.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

p {
    font-size: 24px;
    font-family: Helvetica Arial sans-serif;
}

a {
    color: whitesmoke;
}

a:hover {
    color: #7b61ff;
}
img {
    max-width: 100%;
    height: auto;
}

/* Alert message */
.error_message{
    color: #e03e2d;
}
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}
.toast {
    position: relative;
    min-width: 300px;
    padding: 15px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}
.toast.show {
    display: block;
}
.toast-success {
    background-color: #dff0d8;
    color: #3c763d;
}
.toast-error {
    background-color: #f2dede;
    color: #a94442;
}
/* **** Alert message end **** */
.row {
    margin: 0;
}
.layout_page {
    max-width: 100%;
    height: fit-content;
    margin-top: 40px;
    background: rgba(45, 45,52, 0.9);;
    overflow-y: auto;
    z-index: 2;
    border-radius: 30px;
    color: wheat;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
@media (min-width: 320px) {
    /* CSS для экранов размером: 576px – 767px */
    .layout_page {
        width: 100vw;
        margin-left: 0;
    }
    .profile_container {
        width: 100vw;
        margin-left: 0;
        margin-top: 5px;
    }
    .tooltip_info {
        margin-top: -150px;
        transform: translateX(-50%);
    }

}
@media (min-width: 410px) {
    /* CSS для экранов размером: 576px – 767px */

    .layout_page {
        width: 100vw;
        margin-left: 0;
    }
    .profile_container {
        width: 100vw;
        margin-left: 0;
        margin-top: 5px;
    }
    .tooltip_info {
        margin-top: -120px;
        transform: translateX(-35%);
    }
}
/*@media (min-width: 768px) {*/
/*    !* CSS для: 768px – 991px *!*/
/*    .layout_page {*/
/*        width: 100vw;*/
/*        margin-left: 0;*/
/*    }*/
/*    .profile_container {*/
/*        width: 100vw;*/
/*        margin-left: 0;*/
/*        margin-top: 5px;*/
/*    }*/
/*    .tooltip_info {*/
/*        margin-top: -100px;*/
/*    }*/
/*}*/
@media (min-width: 480px) {
    /* CSS для: 992px – 1119px */
    .layout_page {
        width: 100vw;
        margin-left: 0;
    }
    .profile_container {
        width: 100vw;
        margin-left: 0;
        margin-top: 5px;
    }
    .tooltip_info {
        margin-top: -100px;
        transform: translateX(-35%);
    }
}
@media (min-width: 1200px) {
    /* CSS для экранов больше 1200px */

    .layout_page {
        width: calc(100vw - 325px);
        margin-left: 40px;
    }
    .profile_container {
        width: calc(100vw - 40px);
        margin-left: 40px;
        margin-top: 10px;
    }
    .tooltip_info {
        margin-top: -90px;
        transform: translateX(-35%);
    }
}
/*@media (max-width: 320px) {*/
/*    .layout_page {*/
/*        width: 100vw;*/
/*        margin-left: 0;*/
/*    }*/
/*    .profile_container {*/
/*        width: 100vw;*/
/*        margin-left: 0;*/
/*        margin-top: 5px;*/
/*    }*/
/*    .tooltip_info {*/
/*        margin-top: -150px;*/
/*    }*/
/*}*/

/*@media (max-width: 1080px) {*/
/*    .layout_page {*/
/*        width: 100vw;*/
/*        margin-left: 0;*/
/*    }*/
/*    .profile_container {*/
/*        width: 100vw;*/
/*        margin-left: 0;*/
/*        margin-top: 5px;*/
/*    }*/
/*    .tooltip_info {*/
/*        margin-top: -100px;*/
/*    }*/
/*}*/

/*@media (min-width: 1081px) {*/
/*    .layout_page {*/
/*        width: calc(100vw - 325px);*/
/*        margin-left: 40px;*/
/*    }*/
/*    .profile_container {*/
/*        width: calc(100vw - 40px);*/
/*        margin-left: 40px;*/
/*        margin-top: 10px;*/
/*    }*/
/*    .tooltip_info {*/
/*        margin-top: -100px;*/
/*    }*/
/*}*/

button, .btn {
    background-color: #189094;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    cursor: pointer;
}

.btn_plus_lesson {
    background-color: rgba(22, 22, 22, 0);
    color: white;
    padding: 10px 15px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    margin-left: 10px;
}
.btn_plus_page {
    background-color: rgba(22, 22, 22, 0);
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    margin: -11px 0 0 15px;
    border: none;
}
.removeButton {
    background-color:rgba(224, 62, 45, 0.1);
    border-color: #5e5e5e;
    border-style: solid;
    border-width: 2px;
}

.removeButton:hover{
    background-color:rgba(224, 62, 45, 0.8);

}

/*button:hover, .btn:hover {*/
/*    color: white !important;*/
/*    background-color: #189094 !important;*/
/*    border: 1px solid rgba(0, 0, 0, 0.5) !important;*/
/*    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/

/*button:active, .btn:active {*/
/*    background-color: #136669;*/
/*    transform: translate(0em, 0.2em);*/
/*}*/

/*button:active::before, .btn:active::before {*/
/*    box-shadow: 0 0 0 2px #a60b4b, 0 0 #1ee01e;*/
/*    transform: translate3d(0, 0, -0.5em);*/
/*}*/

button.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #414141;
}

button.hidden {
    visibility: hidden;
}

.forgot-password-page {
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.forgot-password-page-form {
    /*display: flex;*/
    /*flex-direction: column;*/
    min-width: 385px;
    /*gap: 30px;*/
}

.forgot-password-page-form input {
    padding: 5px;
    /*min-width: 300px;*/
}
.captcha {
    padding: 0 5px;
    font-size: 2em;
    font-weight: 600;
}
.captcha_ico::before {
    content: '\f2f1';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}
.lesson_next_ico::before {
    content: '\f101';
    font-family: fontAwesome;

}
.lesson_prev_ico::before {
    content: '\f100';
    font-family: fontAwesome;

}
.lesson_enter_ico::before {
    content: '\f105';
    font-family: fontAwesome;
}
.lesson_plus_ico::before {
    content: '\f0fe';
    font-family: fontAwesome;
}

.file-btn {
    position: relative;
}

.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.actions {
    padding: 5px 0;
}

.actions button {
    margin-right: 5px;
}

.block_left {
    display: flex;
    /*padding: 0px 0px 0px 16px;*/
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}

.block_right {
    display: flex;
    /*padding: 0 0 0 16px;*/
    font-size: 1em;
    align-items: center;
    flex-direction: column;
}

.block_right p {
    font-size: 1em;

}

@media (max-width: 480px) {
    .block_left {
        flex: 0 0 auto;
        width: 100%;
    }

    .block_right {
        flex: 0 0 auto;
        width: 100%;
        padding-left: 40px;
    }

    .page {
        overflow-x: hidden;
    }

    .row {
        display: block;
    }
}

@media (min-width: 1281px) {
    .block_left {
        flex: 0 0 auto;
        width: 50%;
    }

    .block_right {
        flex: 0 0 auto;
        width: 50%;
    }

    .page {
        display: flex;
        overflow-x: hidden;
    }

    .row {
        display: flex;
    }
}


.main_page {
    width: 100%;
    height: 100%;
}

.main_content {
    /*padding: 20px 20px 20px 20px;*/
    color: #000000;
    /*padding-left: 40px;*/
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 30px;
    height: auto;
    font-size: 24px;
}

textarea {
    width: 70vw;
    min-width: 200px;
    max-width: 500px;
}

#result-error {
    color: red;
    font-size: 18px;
}

#result-success {
    color: darkgreen;
    font-size: 18px;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}

/*!*   Кнопка яка показує скритий текст START  *!*/
/*.btn {*/
/*    background-color: white;*/
/*    color: black;*/
/*    border: 2px solid #4CAF50; !* Green *!*/
/*}*/

/*.btn:hover {*/
/*    background-color: white;*/
/*    color: #4a576c;*/
/*    border: 2px solid #8807f3; !* Green *!*/
/*}*/

.btn_main {
    background-color: rgba(50, 50, 50, 0);
    /*color: rgb(33, 37, 41);*/
    color: rgba(245, 222, 179, 0.6);
    border: 2px solid wheat;
    border-radius: 23px;
}
.btn_main:hover {
    color: rgba(245, 222, 179, 1);
    background: #30303b;
    border-color: #7b61ff;
    transition: 1s ease-in-out;
}

/*!*  Кнопка яка показує скритий текст END  *!*/

/* !*стилізація укр english тексту в генераторі*!*/
.text-show {
    border: 0.1em solid #04414d;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    /*background-image: linear-gradient(90deg, #fd7f34, #bd155b);*/
    background-color: #0c63e4;
    display: inline-block;
    padding: 10px 45px 10px 45px;
    margin: 0 15px 15px 0;

}

.text-show-ukr {
    border-radius: 5px 30px 30px 30px;
}

.text-show-eng {
    border-radius: 30px 30px 5px 30px;
}

.block-right {
    padding: 5px;
    position: absolute;
    width: 20%;
    right: 0;
}

.block-main {
    padding: 5px;
    width: 78%;
    left: 0;
}

.block-user {
    /*padding: 5px;*/
    width: 100%;
    left: 0;
}

.toggle-switch {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch-label {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: gray;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-switch-label:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    background-color: white;
    transition: 0.2s;
}

.toggle-switch:checked + .toggle-switch-label {
    background-color: green;
}

.toggle-switch:checked + .toggle-switch-label:before {
    transform: translateX(30px);
}

.hidden_content {
    display: none;
}

/*           lesson fragment 4 style   */
#words {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#words li {
    display: inline-block;
    background-color: #1e1e1e;
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: move;
    font-size: 20px;
    font-weight: 600;
}

#sentence {
    width: 500px;
    min-height: 100px;
    height: auto;
    border: 1px solid #444;
    margin: 20px 0;
    padding: 10px;
    overflow-y: hidden;
    font-size: 18px;
    font-weight: 600;
}

#sentence span {
    display: inline-block;
    border: 1px solid #062deb;
    padding: 5px;
    margin: 0;
    overflow: auto;
}

/*!*!* ----------     Tabs  Start --------------------------------------------------------------------------------------------------------------------*!*!*/
/*.profile_container {*/
/*    !*width: calc(100vw - 40px);*!*/
/*    !*margin-left: 40px;*!*/
/*    !*margin-top: 10px;*!*/
/*}*/
 /* !!!!!!!!!!!!!!!!!!      не чипати   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  ____________________________________   */
.tabs {
    position: relative;
    padding: 20px 20px 40px 20px;
    width: 100vw;
    height: fit-content;
    min-width: 240px;
}
.tabs input[name=tab-control] {
    display: none;
}
.tabs .content section h2,
.tabs ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #428BFF;
}
.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}
.tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs ul li label br {
    display: none;
}
.tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
    fill: #bec5cf;
}
.tabs .slider {
    position: relative;
    width: 33.33%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #428BFF;
    border-radius: 1px;
}
.tabs .content {
    margin-top: 30px;
}
.tabs .content section {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}
.tabs .content section h2 {
    color: #428BFF;
    display: none;
}
.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #428BFF;
    margin-top: 5px;
    left: 1px;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label i {
    fill: #428BFF;
}
@media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label i {
    fill: #428BFF;
}
@media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label i {
    fill: #428BFF;
}
@media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label i {
    fill: #428BFF;
}
@media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
    transform: translateX(300%);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block;
}
@-webkit-keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@media (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
    }
    .tabs ul li label br {
        display: initial;
    }
    .tabs ul li label i {
        height: 1.5em;
    }
}
@media (max-width: 600px) {
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }
    .tabs ul li label span {
        display: none;
    }
    .tabs .slider {
        display: none;
    }
    .tabs .content {
        margin-top: 20px;
    }
    .tabs .content section h2 {
        display: block;
    }
}


* {
    font-family: "Work Sans", sans-serif;
}

label, a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.lesson_repeat_tabs::before {
    content: '\f51c';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}
.lesson_info_tabs::before {
    content: '\f059';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}
.lesson_upload_tabs::before {
    content: '\f093';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}
/**/
.profile_edit::before {
    content: '\f4ff';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}

.fragments_div{
    width: 90%;
    /*min-height: 450px;*/
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*!*!* ----------     Tabs  END ---------******************************************************************************************************************----*!*!*/

/*  *********   profile edit start  ****************8       */
.input,
.input-buffer {
    font-family: Arial, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.input {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    min-width: 100px;
    background: rgba(255, 255, 255, 0.05);
}

.input-buffer {
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
}

.input[type=text]:focus {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, #f8063d, rgba(4, 241, 24, 0.5)) 1 0%;
    border-top: 0;
}
.input[type=password]:focus {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, #f8063d, rgba(4, 241, 24, 0.5)) 1 0%;
    border-top: 0;
}

.profile-edit {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
}

.label-profile {
    display: inline-block;
    width: 100px;
    text-align: left;
    /*margin-left: 10px;*/
}

.inline-container {
    display: flex;
    left: 10px;
    /*align-items: center;*/
}

.checkbox {
    margin-left: 10px;
}

.admin_page {
    display: flex;
    justify-content: space-between;
    padding: 20px 90px 1px 90px;
    width: 100%;
}

.navigation_admin_page {
    border: 2px solid #4d5154;
    padding: 15px 40px;
}

/*  *********8   profile edit start   ********88      */


/*!*!* ----------     Login and Registration  Start -------------*!*!*/
.box {
    position: relative;
    width: 380px;
    height: 640px;
    background: #323232;
    /*border-radius: 8px;*/
    overflow: hidden;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 1);*/
    border-radius: 20px;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 640px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 640px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box-registration {
    position: absolute;
    inset: 2px;
    /*border-radius: 8px;*/
    /*background: #2c3034;*/
    background: rgb(34, 34, 42);
    border-radius: 20px;
    /*background: #32323;*/
    z-index: 10;
}

.form-registration {
    position: relative;
    top: 20px;
    /*width: 320px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 60vh;*/
    flex-direction: column;
    font-size: 18px;
    /*border: 1px solid #000000;*/

}

.form-registration .inputBox {
    position: relative;
    width: 100%;
}

.form-registration .inputBox input {
    position: relative;
    width: 100%;
    padding: 10px;
    /*border-left: ;*/
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    outline: none;
    color: white;
    font-size: 1.1em;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
    border-top: 0;
}

.inputBox .span-text {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(245, 222, 179, 0.55);
    transition: 0.5s;
}

/*.inputBox .span-text{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    !*padding: 10px;*!*/
/*    !*pointer-events: none;*!*/
/*    !*font-size: 1em;*!*/
/*    !*color: rgba(0, 255,255, 0.25);*!*/
/*    !*transition: 0.5s;*!*/
/*}             no    */
.inputBox input:valid ~ .span-text,
.inputBox input:focus ~ .span-text {
    color: wheat;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    /*background: #ffffff;*/
    /*border-left: 1px solid #020202;*/
    /*border-right: 1px solid #000000;*/
    letter-spacing: 0.2em;
}

.inputBox:nth-child(4) input:valid ~ .span-text,
.inputBox:nth-child(4) input:focus ~ .span-text {
    background: #0dcaf0;
    color: wheat;
    border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    /*border-width: 1px;*/
    /*border-style: solid;*/
    border-image: linear-gradient(to right, #8b63ef, rgba(205, 200, 238, 0.5)) 1 0%;
    /*border-top: 0;*/
}

.form-registration .inputBox #toggleBtn {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
    /*background: #9a9a9a;*/
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-registration .inputBox #toggleBtn::before {
    content: '\f06e';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}

.form-registration .inputBox #toggleBtn.hide::before {
    content: '\f070';
    font-family: fontAwesome;
    font-weight: normal;
    font-style: normal;
}

.validation {
    background: rgba(199, 199, 199, 0.8);
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
}

.validation ul {
    position: relative;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.validation ul li {
    position: relative;
    list-style: none;
    color: #0800ff;
    font-size: 0.65em;
    transition: 0.5s;
}

.validation ul li.valid {
    color: #22721f;
    text-decoration: line-through;
}

.validation ul li::before {
    content: '\f10c';
    font-family: fontAwesome;
    width: 15px;
    height: 6px;
    display: inline-flex;
}

.validation ul li.valid::before {
    content: '\f05d';
    color: #22721f;
}







.search__container {
    padding-left: 5vw;
    width: 30vw;
}


.search__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: wheat;
    background-color: transparent;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid wheat;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(245, 222, 179, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid wheat;
    border-radius: 0;
    background-position: 100% center;
}

.left_border {
    border-left: solid 2px #0F687E;
    padding-left: 15px;
    border-radius: 10px;
    font-size: 24px;
    line-height: 140%;
}

.search_result_style {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    background: rgba(45, 45,52, 0.99);
    height: auto;
    width: auto;
    border-radius: 20px;
    padding: 15px;
    z-index: 9999;
    border: 1px solid;
}
.search_result_style p {
    color: wheat;
    font-size: 18px;
}
.search_result_style h5 {
    color: #2b82e5;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 5px;
}
.result-block {
    display: flex;
}
.result-block:hover {
    background-color: #383838;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.section {
    flex-grow: 1;
}

.tooltip_info {
    position: absolute;
    display: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.custom-tooltip {
    position: relative;
}

.custom-tooltip:hover + .tooltip_info{
    display: block;
}


.tooltip_info::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    33% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.pulse {
    position: relative;
}
.phrasePlus .pulse:before, .phrasePlus .pulse:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(107, 107, 107, 0.4);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    opacity: 0;
    margin: auto;
}
#phrasePlusLesson .pulse:before, #phrasePlusLesson .pulse:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(96, 96, 96, 0.4);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: auto;
}
.pulse:before {
    animation: pulse 6s infinite linear;
}
.pulse:after {
    animation: pulse 6s 1s infinite linear;
}
.pulse:hover:before, .pulse:hover:after {
    display: none;
}

.content h3 {
    color: #428BFF !important;
}