<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/adminPage.css}">
<body>
<div class="wrapper">
  <header th:replace="~{fragments/header :: header}"></header>
  <div class="sidebar">
    <div th:replace="~{fragments/menu :: menu}"></div>
  </div>
  <main class="section main_content ">
    <div class="container layout_page">
      <div class="row">
        <div class="col-md-6 col-lg-7 block_left">
          <h3>Описи сторінок додатка</h3>
          <table style="width: 100%">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Сторінка</th>
              <th>Адреса сторінки</th>
              <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="textOfAppPage : ${textOfAppPageList}">
              <td th:text="${textOfAppPage.id}"></td>
              <td th:text="${textOfAppPage.name}"></td>
              <td th:text="${textOfAppPage.pageApplication.namePage ?: 'Значення відсутнє'}"></td>
              <td th:text="${textOfAppPage.pageApplication.address ?: 'Значення відсутнє'}"></td>
              <td>
                <a th:href="@{/admin-page/text-of-app-page/{id}/text-of-app-page-in-editor(id=${textOfAppPage.id})}"
                   class="btn btn-primary">Edit</a>
              </td>
            </tr>
            </tbody>
          </table>
          <!--                    </div>-->
        </div>


        <div class="col-md-6 col-lg-5 block_right">
          <!--                <div class="row">-->


          <h3>Створити новий текст для сторінки</h3>
          <div>
            <form  action="/admin-page/texts-of-app-pages/new-app-text-page">
              <button type="submit">New text page</button>
            </form>
            <div th:text="${message}"></div>
          </div>

          <!--                </div>-->
        </div>






      </div>
      <!-- відображення пагінації -->
      <div style="position: fixed; bottom: 40px; margin-left: 80px; width: 100%;">
<!--        <a th:href="@{/admin-page/lessons(page=(${currentPage} - 1))}">Previous</a>-->
<!--        <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">-->
<!--                    <a th:href="@{/admin-page/lessons(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>-->
<!--                </span>-->
<!--        <a th:href="@{/admin-page/lessons(page=(${currentPage} + 1))}">Next</a>-->
      </div>
    </div>


  </main>
  <!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>
<script>



</script>
</body>
</html>