<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="sidebar">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
    <main class="section">
        <div class="container main-page">
            <div class="content row">
                <article class="col-md-11 col-xl-9">
                    <h1>Please Log In</h1>
                    <!--<div th:if="${param.error}">-->
                    <!--  Invalid username and password.</div>-->
                    <!--<div th:if="${param.logout}">-->
                    <!--  You have been logged out.</div>-->
                    <!--<form th:action="@{/login}" method="post">-->
                    <!--  <div>-->
                    <!--    <input type="text" name="username" placeholder="Username"/>-->
                    <!--  </div>-->
                    <!--  <div>-->
                    <!--    <input type="password" name="password" placeholder="Password"/>-->
                    <!--  </div>-->
                    <!--  <input type="submit" value="Log in" />-->
                    <!--</form>-->
                    <form action="/fileUpload" method="post" enctype="multipart/form-data">
                        <input id = "source_file" style = "size: 50px;" name = "file" type = "file" value = "Выбрать изображение" />
                        <input type = "submit" value = "Submit">
                    </form>
                    <img src="/show" style="width: 200px"/>
                    <p style="color: #234db4" th:text="${logout}"></p>
                    <p style="color: #fc0505" th:text="${error}"></p>
                </article>
            </div>
        </div>
    </main>
</div>
</body>
</html>