<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="sidebar">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
    <main class="section main_content ">
        <div class="container layout_page row">
            <div class="col-md-11 forgot-password-page">
                <h3>Відновити пароль</h3><br>
                <p>Для відновлення пароля впишіть в поле будь ласка свій email та потім використовуйте вказівки в єлектронному листі,</p>
                <p>який надійде на пошту, на яку був зареєстрований аккаунт в додатку.</p>
                <form class="forgot-password-page-form" th:action="@{/forgot-password}" method="post">
                    <input type="email" name="email" style="margin-bottom: 15px;" placeholder="user@email.com">
                    <button type="submit" style="margin-bottom: 15px;">Відновити</button>
                </form>
                <br>
                <div id="randomNumbers"></div>
                <button id="generateButton">Згенерувати та відправити</button>
                <h5 th:text="${message}"></h5>
                <div th:text="${error}" style="color: red"></div>
                <div th:text="${logout}" style="color: #47f847"></div>

            </div>
        </div>
    </main>
    <!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>
<script>
    // Функція для генерації випадкових чисел та відправки суми на сервер
    function generateAndSend() {
        // Генерування випадкових чисел
        var number1 = Math.floor(Math.random() * 100) + 1; // Від 1 до 100
        var number2 = Math.floor(Math.random() * 9) + 1; // Від 1 до 9

        // Обчислення суми
        var sum = number1 + number2;

        // Оновлення вмісту div з числами
        var randomNumbersDiv = document.getElementById('randomNumbers');
        randomNumbersDiv.innerHTML = 'Перше число: ' + number1 + '<br>Друге число: ' + number2;

        // Відправка суми на сервер
        var xhr = new XMLHttpRequest();
        var url = '/forgot-password/captcha'; // Замініть на власну адресу контроллера

        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Додавання CSRF-токену до заголовків
        var csrfToken = $("meta[name='_csrf']").attr("content");
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");
        xhr.setRequestHeader(csrfHeader, csrfToken);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // Операція успішно виконана
                console.log('Сума була успішно відправлена на сервер.');
            }
        };

        var data = 'sum=' + encodeURIComponent(sum);
        xhr.send(data);
    }

    // Додавання обробника події на кнопку "Згенерувати та відправити"
    var generateButton = document.getElementById('generateButton');
    generateButton.addEventListener('click', generateAndSend);

    // Запуск генерації та відправки при завантаженні сторінки
    window.addEventListener('load', generateAndSend);
    // // Функція для генерації випадкових чисел та відправки суми на сервер
    // function generateAndSend() {
    //     // Генерування випадкових чисел
    //     var number1 = Math.floor(Math.random() * 100) + 1; // Від 1 до 100
    //     var number2 = Math.floor(Math.random() * 9) + 1; // Від 1 до 9
    //
    //     // Обчислення суми
    //     var sum = number1 + number2;
    //
    //     // Оновлення вмісту div з числами
    //     var randomNumbersDiv = document.getElementById('randomNumbers');
    //     randomNumbersDiv.innerHTML = 'Перше число: ' + number1 + '<br>Друге число: ' + number2;
    //
    //     // Відправка суми на сервер
    //     var xhr = new XMLHttpRequest();
    //     var url = 'адреса_контроллера'; // Замініть на власну адресу контроллера
    //
    //     xhr.open('POST', url, true);
    //     xhr.setRequestHeader('Content-Type', 'application/json');
    //
    //     xhr.onreadystatechange = function () {
    //         if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
    //             // Операція успішно виконана
    //             console.log('Сума була успішно відправлена на сервер.');
    //         }
    //     };
    //
    //     xhr.send(JSON.stringify({ sum: sum }));
    // }
    //
    // // Додавання обробника події на кнопку "Згенерувати та відправити"
    // var generateButton = document.getElementById('generateButton');
    // generateButton.addEventListener('click', generateAndSend);
    //
    // // Запуск генерації та відправки при завантаженні сторінки
    // window.addEventListener('load', generateAndSend);
</script>
</body>
</html>