<div th:fragment="lessonFragment1" class="fragments_div">
    <h3>Перекладіть речення на англійську</h3>
    <!--    <p>1</p>-->
    <div style=" align-self: flex-start;">
        <img th:src="@{/images/learn.png}">
        <div id="ukr-text" class="text-show text-show-ukr"></div>
    </div>
    <form id="textCheck" th:action="@{/user/{userId}/lesson/(userId = ${session.userId})}" method="get">
        <textarea name="textCheck" rows="1" placeholder="Переклад"></textarea><br><br>
    </form>
    <div id="result" class="resultLesson"></div>
</div>


<div th:fragment="lessonFragment2" class="fragments_div">
    <h3>Перекладіть речення</h3>
    <!--    <p>2</p>-->
    <div style=" align-self: flex-start;">
        <img th:src="@{/images/learn.png}">
        <div id="eng-text" class="text-show text-show-ukr"></div>
    </div>
    <form id="textCheck" th:action="@{/user/{userId}/lesson/(userId = ${session.userId})}" method="get">
        <textarea name="textCheck" rows="1" placeholder="Перевод"></textarea><br><br>
    </form>
    <div id="result" class="resultLesson"></div>
</div>


<div th:fragment="lessonFragment3" class="fragments_div">
    <!--    <p>3</p>-->
    <h3>Повторення</h3>
    <div style=" align-self: flex-start;">
        <img th:src="@{/images/learn.png}">
        <div id="ukr-text" class="text-show text-show-ukr"></div>
    </div>
    <!--    <button class="content_toggle btn">Дивитися переклад...</button>-->

    <div class="content_block" style=" align-self: flex-end;">
        <div id="eng-text" class="text-show text-show-eng"></div>
        <img th:src="@{/images/learn_hide.png}">
    </div>
    <script>
        // ***************** Bідкрити / закрити скритий текст *************** //
        $('.content_toggle').click(function () {
            $('.content_block').slideToggle(600);
            return false;
        });
    </script>
</div>


<div th:fragment="lessonFragment4" class="fragments_div">
    <h3>Складіть речення</h3>
    <div style="align-self: flex-start;">
        <img th:src="@{/images/learn.png}">
        <div id="ukr-text" class="text-show text-show-ukr"></div>
    </div>
    <br/>
    <ul id="words"></ul>
    <div id="sentence" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="result" class="resultLesson"></div>

    <script>
        var sentenceWords = []; // Слова в реченні

        function allowDrop(event) {
            event.preventDefault();
        }

        function drag(event) {
            event.dataTransfer.setData("text", event.target.innerText);
        }

        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text");

            var sentence = document.getElementById("sentence");

            // Перевірити, чи слово вже є в реченні
            var isInSentence = false;
            var wordIndex = -1;
            for (var i = 0; i < sentenceWords.length; i++) {
                if (sentenceWords[i] === data) {
                    isInSentence = true;
                    wordIndex = i;
                    break;
                }
            }

            if (isInSentence) {
                removeFromSentence(wordIndex);
                addToWordList(data);
            } else {
                var word = document.createElement("span");
                word.textContent = data;
                word.draggable = true;
                word.ondragstart = function (event) {
                    drag(event);
                    removeFromSentence(wordIndex);
                    addToWordList(data);
                };

                sentence.appendChild(word);
                sentence.appendChild(document.createTextNode(" "));

                // Додати слово до речення
                sentenceWords.push(data);

                // Видалити слово зі списку слів
                removeFromWordList(data);
            }
        }

        function removeFromWordList(word) {
            var wordList = document.getElementById("words").getElementsByTagName("li");
            for (var i = 0; i < wordList.length; i++) {
                if (wordList[i].innerText === word) {
                    wordList[i].remove();
                    break;
                }
            }
        }

        function removeFromSentence(index) {
            var sentence = document.getElementById("sentence");
            var words = sentence.getElementsByTagName("span");
            var removedWord = sentenceWords.splice(index, 1)[0];
            for (var i = 0; i < words.length; i++) {
                if (words[i].innerText === removedWord) {
                    words[i].remove();
                    break;
                }
            }
        }


        function addToWordList(word) {
            var wordList = document.getElementById("words");
            var newWord = document.createElement("li");
            newWord.draggable = true;
            newWord.ondragstart = function (event) {
                drag(event);
            };
            newWord.onclick = function (event) {
                clickWord(event);
            };
            newWord.textContent = word;
            wordList.appendChild(newWord);
        }

        function clickWord(event) {
            var word = event.target.innerText;
            var sentence = document.getElementById("sentence");

            // Перевірити, чи слово вже є в реченні
            var isInSentence = false;
            var wordIndex = -1;
            for (var i = 0; i < sentenceWords.length; i++) {
                if (sentenceWords[i] === word) {
                    isInSentence = true;
                    wordIndex = i;
                    break;
                }
            }

            if (isInSentence) {
                removeFromSentence(wordIndex);
                addToWordList(word);
            } else {
                var wordSpan = document.createElement("span");
                wordSpan.textContent = word;
                wordSpan.draggable = true;
                wordSpan.onclick = function (event) {
                    clickSentenceWord(event);
                };
                wordSpan.ondragstart = function (event) {
                    drag(event);
                    removeFromSentence(wordIndex);
                    addToWordList(word);
                };

                sentence.appendChild(wordSpan);
                sentence.appendChild(document.createTextNode(" "));
                // Додати слово до речення
                sentenceWords.push(word);

                // Видалити слово зі списку слів
                removeFromWordList(word);
            }
        }

        function clickSentenceWord(event) {
            var word = event.target.innerText;
            var sentence = document.getElementById("sentence");

            // Перевірити, чи слово вже є в реченні
            var isInSentence = false;
            var wordIndex = -1;
            for (var i = 0; i < sentenceWords.length; i++) {
                if (sentenceWords[i] === word) {
                    isInSentence = true;
                    wordIndex = i;
                    break;
                }
            }

            if (isInSentence) {
                removeFromSentence(wordIndex);
                addToWordList(word);
            }
        }

    </script>
</div>


<div th:fragment="successRegistrationFragment" style="display: flex; flex-direction: column; align-items: center;">
    <div id="result-success" style="color: #0054d9; font-size: 2em; padding-bottom: 15px;"></div>
    <p>Дякую за реєстрацію в додатку Learn English.</p>
    <p>Залишився останній крок, щоб почати користуватися додатком - активувати аккаунт за посиланням, яке надійшло на
        пошту.</p>
</div>

<div th:fragment="endSlide">
    <!--        <img th:src="@{/word-image/{name}(name=${word.images.imageName})}"/>-->
    <div class="end_success">
        <h3>Гарна робота!</h3>
        <p>Ви завершили перший етап. Пропоную перейти до наступного завдання, щоб закріпити знання.</p>
        <div class="d-flex icon-box">
            <span class="success_ico"></span>
        </div>
    </div>
    <div class="slide_end_button">
        <form id="nextTraining">
            <button type="submit" class="btn_main">Далі</button>
        </form>

    </div>
    <script>
        $('#nextTraining').submit(function (event) {
            event.preventDefault();
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            var url = '/word-lesson/' + wordLessonId + '/start';

            $.ajax({
                url: url,
                type: "POST",
                data: {start: true},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (result) {
                    switchTab('tab2');
                },
                error: function () {
                    let shel = {};
                    alert(Boolean(shel))
                }
            });

        });
    </script>
</div>

<div th:fragment="slide">
    <img/>
    <div class="block_name">
        <div class="name_and_audio">
            <h3></h3>
            <audio class="audio" preload="auto">
                <source type="audio/mpeg"/>
            </audio>
            <span class="sound_pic" onclick="playAudio(this);">
                                        <img src="/images/play_audio.png" style="width: 30px;"/>
                        </span>
        </div>
        <h6></h6>
        <div class="word_description">
            <h5></h5>
        </div>
        <form class="formPlus">
            <input type="hidden" name="id">
            <button class="btn_plus_lesson pulse" type="submit">
                <span class="lesson_plus_ico"></span>
            </button>
        </form>
    </div>
</div>


<div th:fragment="wordLessonReview">
    <div class="slider-container">
        <div class="slider_word" id="slider">
            <div class="slide bb">
                <img/>
                <div class="block_name">
                    <div class="name_and_audio">
                        <h3></h3>
                        <audio class="audio" preload="auto">
                            <source type="audio/mpeg"/>
                        </audio>
                        <span class="sound_pic" onclick="playAudio(this);">
                                        <img src="/images/play_audio.png" style="width: 30px;"/>
                        </span>
                    </div>
                    <h6></h6>
                    <div class="word_description">
                        <h5></h5>
                    </div>
                    <form class="formPlus">
                        <input type="hidden" name="id">
                        <button class="btn_plus_lesson pulse" type="submit">
                            <span class="lesson_plus_ico"></span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="slide bb">
                <img/>
                <div class="block_name">
                    <div class="name_and_audio">
                        <h3></h3>
                        <audio class="audio" preload="auto">
                            <source type="audio/mpeg"/>
                        </audio>
                        <span class="sound_pic" onclick="playAudio(this);">
                                        <img src="/images/play_audio.png" style="width: 30px;" />
                        </span>

                    </div>
                    <h6></h6>
                    <div class="word_description">
                        <h5></h5>
                    </div>
                    <form class="formPlus">
                        <input type="hidden" name="id">
                        <button class="btn_plus_lesson pulse" type="submit">
                            <span class="lesson_plus_ico"></span>
                        </button>
                    </form>
                </div>
            </div>

        </div>
        <button class="prev-button button_slide"><i class="fa-solid fa-chevron-left"></i></button>
        <form id="next">
            <button type="submit" class="next-button button_slide"><i
                    class="fa-solid fa-chevron-right"></i>
            </button>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/wordLessonSlider.js}"></script>
</div>


<div th:fragment="wordLessonSpelling">
    <style>
        .img_description {
            height: 12rem;
            position: relative;
            width: 100%;
            background-color: #0000;
            z-index: 1;
            align-items: center;
        }

        .img_description::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #00bfa5;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
            transform: scaleX(1.5);
            -moz-transform: scaleX(1.5);
            -webkit-transform: scaleX(1.5);
            -o-transform: scaleX(1.5);
            z-index: 1;
        }

        .slide .img_description img {
            height: 160px;
            width: 160px;
            border: 4px solid #00bfa5;
            border-radius: 50%;
            margin: 0;
            z-index: 2;
        }

        .img_description h5 {
            padding: 0 10px;
            z-index: 2;
        }
        .inputs-container input{
            width: 28px;
            height: 31px;
            margin-right: 3px;
            border-radius: 6px;
        }
    </style>
    <div class="slider-container">
        <div class="slider_word">

            <div class="slide bb">

                <div class="img_description d-flex flex-column">
                    <span style="z-index: 2; font-size: 20px;">По буквах!</span>
                    <h5></h5>
                    <img/>
                </div>

                <div class="block_audio_confirm" style="width: 100%; position: absolute; bottom: 0; height: 282px;">

                    <div class="block_audio" style="">
                        <audio class="audio" preload="auto">
                            <source type="audio/mpeg"/>
                        </audio>
                        <span class="sound_pic" onclick="playAudio(this);">
                                        <img src="/images/play_audio.png" style="width: 50px;"/>
                        </span>
                    </div>

                    <div class="block_confirm">
                        <div class="word_confirm">
                            <div style="height: 50px; padding-top: 10px; margin-top: 10px;">
                                <input type="text" name="word_confirm">
                            </div>
                            <div class="inputs-container" style="height: 50px; padding-top: 10px; margin-top: 10px;"></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="hidden" name="id">
                            <form class="child formPlus">
                                <button class="" type="button" onclick="hint()" style="border: none; border-radius: 0 20px 20px 0; background: #7b61ff;">
                                    <i class="fa-regular fa-lightbulb"></i>
                                </button>
                            </form>
                            <form class="child confirm">
                                <button class="btn_main" type="submit">
                                    Перевірити
                                </button>
                            </form>
                            <form class="child next">
                                <button type="submit" class=""><i
                                        class="fa-solid fa-chevron-right"></i>
                                </button>
                            </form>
                        </div>
                        <div class="letters-container" style="margin: 20px 0;"></div>
                    </div>
                </div>
            </div>

            <div class="slide bb">

                <div class="img_description d-flex flex-column">
                    <span style="z-index: 2; font-size: 20px;">По буквах!</span>
                    <h5></h5>
                    <img/>
                </div>

                <div class="block_audio_confirm" style="width: 100%; position: absolute; bottom: 0; height: 282px;">

                    <div class="block_audio" style="">
                        <audio class="audio" preload="auto">
                            <source type="audio/mpeg"/>
                        </audio>
                        <span class="sound_pic" onclick="playAudio(this);">
                                        <img src="/images/play_audio.png" style="width: 50px;"/>
                        </span>
                    </div>

                    <div class="block_confirm">
                        <div class="word_confirm">
                            <div style="height: 50px; padding-top: 10px; margin-top: 10px;">
                                <input type="text" name="word_confirm">
                            </div>
                            <div class="inputs-container" style="height: 50px; padding-top: 10px; margin-top: 10px;"></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="hidden" name="id">
                            <form class="child formPlus">
                                <button class="" type="button" onclick="hint()" style="border: none; border-radius: 0 20px 20px 0; background: #7b61ff;">
                                    <i class="fa-regular fa-lightbulb"></i>
                                </button>
                            </form>
                            <form class="child confirm">
                                <button class="btn_main" type="submit">
                                    Перевірити
                                </button>
                            </form>
                            <form class="child next">
                                <button type="submit" class=""><i
                                        class="fa-solid fa-chevron-right"></i>
                                </button>
                            </form>
                        </div>
                        <div class="letters-container" style="margin: 20px 0;"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript" th:src="@{/js/wordLessonSlider2.js}"></script>
</div>

