<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}"></head>
<body id="body-pd">
<div class="top">
    <div class="container">
        <div class="row">

            <header th:insert="~{fragments/header :: header}"></header>
        </div>
    </div>
</div>
<div th:insert="~{fragments/menu :: menu}"></div>
<div class="wrapper">
    <main>
        <div class="container main-page">
            <div class="content row">
                <article class="col-md-11 col-xl-9">
                    <h1 th:text="'Hello, ' + ${main_title} + '!'"></h1>

                </article>
                <aside class="col-md-3 col-xl-2">
                    <p th:text="'Hello, ' + ${main_title} + '!'"></p>
                </aside>
            </div>
        </div>
    </main>
<!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>
<!--<script src="js/script.js"></script>-->
</body>
</html>