<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<script src="https://cdn.tiny.cloud/1/j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="sidebar">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
    <main class="section main_content ">
        <div class="container layout_page">
            <h1>Edit Lesson</h1>
            <form method="post" th:action="@{/admin-page/lessons/lesson/{id}/edit(id=${lesson.id})}"
                  th:object="${lesson}" id="myForm">
                <label for="name">Lesson Name:</label>
                <input type="text" id="name" name="name" th:value="${lesson.name}" required>
                <!--                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
                <label for="lessonInfo">Lesson Info:</label>
                <textarea id="lessonInfo" name="lessonInfo" th:text="${lesson.lessonInfo}" required></textarea>
                <!--                <span th:if="${#fields.hasErrors('lessonInfo')}" th:errors="*{lessonInfo}"></span>-->

                <script>
                    $(document).ready(function () {
                        tinymce.init({
                            selector: 'textarea#lessonInfo',
                            height: 500,
                            plugins: [
                                'anchor autolink charmap codesample emoticons link lists media ',
                                'searchreplace table visualblocks wordcount checklist mediaembed ',
                                'casechange export formatpainter pageembed linkchecker a11ychecker ',
                                'tinymcespellchecker permanentpen powerpaste advtable advcode '
                            ],
                            toolbar:
                            'undo redo | formatselect |' +
                                ' bold italic underline forecolor | link image media table mergetags |' +
                                ' addcomment showcomments | spellcheckdialog code typography |' +
                                ' align lineheight | checklist numlist bullist indent outdent |' +
                                ' emoticons charmap | removeformat'
                            ,
                            content_css: [
                                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                                '//www.tiny.cloud/css/codepen.min.css'
                            ],
                            api_key: 'j8dxs8puyiugoamq11vn3bctaonh1jhzvd0cewcb1jiyl2c6',
                            menubar: false,
                            statusbar: false,
                            branding: false
                        });
                        $('#myForm').submit(function (event) {
                            event.preventDefault(); // Заборонити звичайну поведінку форми (наприклад, перезавантаження сторінки)
                            // Відправити дані форми на сервер
                            $.ajax({
                                url: $(this).attr('action'), // URL для відправки запиту
                                type: $(this).attr('method'), // Метод запиту (POST)
                                data: $(this).serialize(), // Дані форми
                                success: function (response) {
                                    $('#responseDiv').text(response);
                                },
                                error: function () {
                                    // Обробка помилки, якщо відповідь сервера не отримана або є помилка
                                    alert('Помилка при відправці запиту');
                                }
                            });
                        });
                    });
                </script>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit">Save</button>
            </form>
            <div id="responseDiv"></div>
        </div>
    </main>
    <!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>
</body>
</html>