<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:fragment="fragment1">
    <div id="ukr-text" class="text-show text-show-ukr"></div>
    <form id="textCheck" th:action="@{/user/{userId}/lesson/(userId = ${session.userId})}" method="get">
        <textarea name="textCheck" rows="1" placeholder="Переклад"></textarea><br><br>
    </form>
    <div id="result" class="resultLesson"></div>
</div>


<div th:fragment="fragment2">
    <div id="eng-text" class="text-show text-show-ukr"></div>
    <form id="textCheck" th:action="@{/user/{userId}/lesson/(userId = ${session.userId})}" method="get">
        <textarea name="textCheck" rows="1" placeholder="Перевод"></textarea><br><br>
    </form>
    <div id="result" class="resultLesson"></div>
</div>


<div th:fragment="fragment3">
    <div id="ukr-text" class="text-show text-show-ukr"></div>
    <br/><br/>
<!--    <button class="content_toggle btn">Дивитися переклад...</button>-->
    <br/><br/>
    <div class="content_block" style="display: none;">
        <div id="eng-text" class="text-show text-show-eng"></div>
    </div>
    <script>
        // ***************** Bідкрити / закрити скритий текст *************** //
        $('.content_toggle').click(function () {
            $('.content_block').slideToggle(600);
            return false;
        });
    </script>
</div>
</body>
</html>