<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page row">
            <div class="layout_lesson">
                <input name="nav" type="radio" class="nav home-radio" id="learn" checked="checked"/>
                <div class="page about-page">
                    <div class="page-contents">
                        <div id="lessonId" th:data-lesson-id="${session.lessonId}"></div>
                        <div id="replace_div" style="min-height: 350px;"></div>
                        <div class="inline-container" style="display: flex; margin-right: auto;">
                            <form id="nextText">
                                <button id="nextButton" type="submit">Далі</button>
                            </form>
                            <button id="checkButton" onclick="getData()" class="checkbox">Перевірити</button>
                            <button id="textShow" class="checkbox content_toggle btn">Дивитися переклад</button>
                            <div style="display: contents; font-size: 20px; font-weight: 500;">
                                <span style="padding: 10px 0px 0px 25px;"> Власний текст: </span>
                                <form>
                                    <input id="toggleSwitch" type="checkbox" th:checked="${session.userTextInLesson}"
                                           class="toggle-switch"
                                           name="userActive" th:data-user-id="${session.userId}"/>
                                    <label for="toggleSwitch" class="toggle-switch-label"></label>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <span>Навігація по заняттям: 1 - 16 </span>
                            <button id="previousLesson" style="height: 30px; padding-top: 2px;"><span
                                    class="lesson_prev_ico"></span></button>
                            <input type="number" id="lessonIdInput" style="width: 50px;" th:value="${lessonId}">
                            <button id="submitButton" style="height: 30px; padding-top: 2px;"><span
                                    class="lesson_enter_ico"></span></button>
                            <button id="nextLesson" style="height: 30px; padding-top: 2px;"><span
                                    class="lesson_next_ico"></span></button>
                        </div>
                    </div>
                </div>
                <label class="nav" for="learn">
                    <span class="lesson_repeat_tabs">&nbsp;Тренування</span>
                </label>

                <input name="nav" type="radio" class="about-radio" id="learnInfo"/>
                <div class="page about-page">
                    <div class="page-contents">
                        <div th:utext="${lesson.lessonInfo}"></div>
                    </div>
                </div>
                <label class="nav" for="learnInfo">
                    <span class="lesson_info_tabs">&nbsp;Опис заняття</span>
                </label>

                <input name="nav" type="radio" class="about-radio" id="upload"/>
                <div class="page about-page">
                    <main class="col-md-6 col-lg-7 block_left">
                        <h3 th:text="'Завантажити власний тект для ' + ${lesson.name}"></h3>
                        <form id="add-pair">
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <textarea id="ukrText" name="ukrText" rows="1"
                                          placeholder="Текст українською"></textarea>
                                <div id="ukrTextError" class="error_message"></div>
                                <br>
                                <textarea id="ukrTextFemale" name="ukrTextFemale" rows="1"
                                          placeholder="Текст українською W"></textarea>
                                <div class="error_message" id="ukrTextFemaleError"></div>
                                <br>
                            </div>
                            <div sec:authorize="hasRole('ROLE_USER')">
                                <textarea id="ukrText" name="ukrText" rows="1"
                                          placeholder="Текст українською"></textarea>
                                <div id="ukrTextError" class="error_message"></div>
                                <br>
                            </div>

                            <textarea id="engText" name="engText" rows="1" placeholder="In English"></textarea>
                            <div id="engTextError" class="error_message"></div>
                            <br>
                            <input type="hidden" name="lessonId" th:value="${lessonId}">
                            <input type="hidden" name="userId" th:value="${session.userId}">
                            <button type="submit">Завантажити</button>
                            <br>
                        </form>
                    </main>
                    <div class="col-md-6 col-lg-5 block_right">
                        <div th:utext="${pageText}"></div>
                    </div>
                </div>
                <label class="nav" for="upload">
                    <span class="lesson_upload_tabs">&nbsp;Завантажити</span>
                </label>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<script type="text/javascript" th:src="@{/js/learnScript.js}"></script>
</body>
</html>