<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body>
<main id="main-wrapper" class="main-wrapper">

    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/menu :: menu}"></div>

    <div id="app-content">
        <div class="app-content-area row row-cols-1 row-cols-md-2 mx-auto col">
<!--            <div class="main-content p-3 w-95">-->
<!--                <div class="col-xl-8 col-12 mb-5 main-content">-->
                <div class="col-md-8 col-12 main-content">
                    <nav aria-label="breadcrumb" style="border-bottom: 2px solid; padding-left: 20px; margin: 20px;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="/about-the-app">Про додаток</a>
                            </li>
                        </ol>
                    </nav>
                    <div class="flex-column">

                        <div class="d-flex flex-column p-2 p-xl-3">
                            <h3 style="border-bottom: 1px solid;">Заняття по фразам</h3>
                            <div class="row">
                                <div class="col-md-3 m-1">
                                    <img src="/images/phrase_lessons.webp" width="180" height="auto" style="border-radius: 20px">
                                </div>
                                <div class="col-md-8 m-0 d-flex flex-column me-sm-2">
                                    <p>It is now illegal to sell vapes to people under 18.
                                        The new rules want to stop marketing vapes to children. Children under 18 will not have the chance to buy vape.
                                        Many adults use vape, too. They often do it when they want to stop smoking cigarettes.</p>
                                    <a href="/phrase-lessons/categories" class="btn btn_main mt-auto ms-auto">Навчитися</a>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column p-2 p-xl-3">
                            <h3 style="border-bottom: 1px solid;">Поповнення словникового запаса</h3>
                            <div class="row">
                                <div class="col-md-3 m-1">
                                    <img src="/images/word_lessons.webp" width="180" height="auto" style="border-radius: 20px">
                                </div>
                                <div class="col-md-8 m-0 d-flex flex-column me-sm-2">
                                    <p>It is now illegal to sell vapes to people under 18.
                                        The new rules want to stop marketing vapes to children. Children under 18 will not have the chance to buy vape.
                                        Many adults use vape, too. They often do it when they want to stop smoking cigarettes.</p>
                                    <a href="/word-lesson-categories" class="btn btn_main mt-auto ms-auto">Навчитися</a>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column p-2 p-xl-3">
                            <h3 style="border-bottom: 1px solid;">Поповнення словникового запаса</h3>
                            <div class="row">
                                <div class="col-md-3 m-1">
                                    <img src="/images/word_lessons.webp" width="180" height="auto" style="border-radius: 20px">
                                </div>
                                <div class="col-md-8 m-0 d-flex flex-column me-sm-2">
                                    <p>It is now illegal to sell vapes to people under 18.
                                        The new rules want to stop marketing vapes to children. Children under 18 will not have the chance to buy vape.
                                        Many adults use vape, too. They often do it when they want to stop smoking cigarettes.</p>
                                    <a href="/word-lesson-categories" class="btn btn_main mt-auto ms-auto">Навчитися</a>
                                </div>
                            </div>
                        </div>

<!--                        <div class="flex-fill ">-->
<!--                            <h3>Поповнення словникового запаса</h3>-->
<!--                            <img src="/images/word_lessons.webp">-->
<!--                            <a href="/word-lesson-categories" class="btn btn_main">Навчитися</a>-->
<!--                        </div>-->
<!--                        <div th:utext="${pageText}" style="padding: 0 50px 50px 50px;"></div>-->
                    </div>
                </div>
                <div class="col-md-3 col-12 main-content col">

                </div>




<!--            </div>-->
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>