<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head_old :: head_old}"></head>

<body class="active">
<div class="wrapper">
    <main class="section" style="z-index: 2">
        <header th:replace="~{fragments/header_2 :: header_2}"></header>

            <div class="d-flex flex-column flex-lg-row lessons">
                <div class="flex-fill  lessons-block">
                    <h3>Вчимо мову по методиці Дмитра Петрова</h3>
                    <img src="/images/phrase_lessons.webp">
                    <a href="/phrase-lessons/categories" class="btn btn_main">Навчитися</a>
                </div>
                <div class="flex-fill lessons-block">
                    <h3>Поповнення свого словникового запаса</h3>
                    <img src="/images/word_lessons.webp">
                    <a href="/word-lesson-categories" class="btn btn_main">Навчитися</a>
                </div>
            </div>

        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu_old :: menu_old}"></div>
</div>
<script type="text/javascript" th:src="@{/js/searchWord.js}"></script>
<!--<script>-->
<!--    // window.onload = function() {-->
<!--        const pageHeight = Math.max(-->
<!--            document.body.scrollHeight,-->
<!--            document.documentElement.scrollHeight,-->
<!--            document.body.offsetHeight,-->
<!--            document.documentElement.offsetHeight,-->
<!--            document.body.clientHeight,-->
<!--            document.documentElement.clientHeight-->
<!--        );-->
<!--        const windowHeight = window.innerHeight;-->
<!--        const hasScrollbar = pageHeight > windowHeight;-->
<!--    // };-->

<!--    // Отримати userAgent-->
<!--    const userAgent = navigator.userAgent;-->
<!--    if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(userAgent)) {-->
<!--        if (hasScrollbar) {-->
<!--            console.log("Є полоса прокрутки.");-->
<!--        } else {-->
<!--            console.log("Немає полоси прокрутки.");-->
<!--        }-->
<!--    } else {-->
<!--        console.log("Сторінка відкрита з мобільного браузера.");-->
<!--    }-->
<!--</script>-->
</body>
</html>