<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page row">


            <!--            <div class="page-table" style="flex-direction: column;">-->
            <h1 th:text="${categoryName}"></h1>
            <div th:each="translationPairsPage: ${translationPairsPages}">
                <div style="display: flex; flex-direction: column; padding: 0 20px;">
                    <h3 th:text="${translationPairsPage.name}" style="border-width: 1px; border-top-width: 1px; border-top-width: 1px; border-style: solid; border-top-style: solid; border-top-style: solid;
border-image: linear-gradient(to right, rgba(34, 34, 42, 0.5), white, rgba(34, 34, 42, 0.5)) 1 0%; border-top: 0; color: white; padding: 10px 20px;"></h3>
                    <br>
                    <div class="left_border"
                         th:utext="${translationPairsPage.info.length() > 250 ? #strings.substring(translationPairsPage.info, 0, 250) + '....' : translationPairsPage.info + '....'}"></div>
                    <form th:action="@{/words-main-category/{id}(id=${translationPairsPage.id})}"
                          style="margin-left: auto; padding-right: calc(5% + 20px);">
                        <button class="btn_main" type="submit">Перейти</button>
                    </form>
                </div>
            </div>


            <!--            </div>-->


            <!-- відображення пагінації -->
            <div style=" margin-left: 80px; width: 70%;">
                <a th:href="@{/phrases-category/{id}/phrases(page=(${currentPage} - 1), id=${categoryId})}">Previous</a>
                <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/phrases-category/{id}/phrases(page=${pageNumber}, id=${categoryId})}"
                       th:text="${pageNumber + 1}"></a>
                </span>
                <a th:href="@{/phrases-category/{id}/phrases(page=(${currentPage} + 1), id=${categoryId})}">Next</a>
            </div>


        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
</body>
</html>