<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<style>
    /*.pagination {*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    margin: 20px 45px 20px 265px;*/
    /*    padding: 10px 40px;*/
    /*    background: rgba(45, 45, 52, 0.9);*/
    /*    color: white;*/
    /*    font-size: 22px;*/
    /*    font-weight: 600;*/
    /*    border-radius: 20px;*/

    /*}*/

    /*.pagination > div:first-child {*/
    /*    margin-right: auto;*/
    /*}*/

    /*.pagination > div:last-child {*/
    /*    margin-left: auto;*/
    /*}*/
</style>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
<!--    <main class="section" style="position: relative; padding-bottom: 90px;">-->
    <div class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="container layout_page">


            <!--            <div class="page-table" style="flex-direction: column;">-->
            <h1 th:text="${categoryName}"></h1>
            <div th:each="translationPairsPage: ${translationPairsPages}">
                <div style="display: flex; flex-direction: column; padding: 0 20px;">
                    <h3 th:text="${translationPairsPage.name}" style="border-width: 1px; border-top-width: 1px; border-top-width: 1px; border-style: solid; border-top-style: solid; border-top-style: solid;
border-image: linear-gradient(to right, rgba(34, 34, 42, 0.5), white, rgba(34, 34, 42, 0.5)) 1 0%; border-top: 0; color: white; padding: 10px 20px;"></h3>
                    <br>
                    <div class="left_border"
                         th:utext="${translationPairsPage.info.length() > 100 ? #strings.substring(translationPairsPage.info, 0, 100) + '....' : translationPairsPage.info + '....'}"></div>
                    <form th:action="@{/phrases-page/{id}(id=${translationPairsPage.id})}"
                          style="margin-left: auto; padding-right: calc(5% + 20px);">
                        <button class="btn_main" type="submit">Перейти</button>
                    </form>
                </div>
            </div>


            <!--            </div>-->


            <!--            &lt;!&ndash; відображення пагінації &ndash;&gt;-->
            <!--            <div style=" margin-left: 80px; width: 70%;">-->
            <!--                <a th:href="@{/phrases-category/{id}/phrases(page=(${currentPage} - 1), id=${wordLessonId})}">Previous</a>-->
            <!--                <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">-->
            <!--                    <a th:href="@{/phrases-category/{id}/phrases(page=${pageNumber}, id=${wordLessonId})}"-->
            <!--                       th:text="${pageNumber + 1}"></a>-->
            <!--                </span>-->
            <!--                <a th:href="@{/phrases-category/{id}/phrases(page=(${currentPage} + 1), id=${wordLessonId})}">Next</a>-->
            <!--            </div>-->


        </main>





        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </div>
    <!-- відображення пагінації -->
    <div class="pagination">
        <div>
            <a th:href="@{/phrases-category/{id}/phrases-pages(page=(${currentPage} - 1), id=${categoryId})}">< Попередня</a>
        </div>
        <div>
            <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/phrases-category/{id}/phrases-pages(page=${pageNumber}, id=${categoryId})}"
                       th:text="${pageNumber + 1}"></a>
                </span>
        </div>
        <div>
            <a style="margin-right: auto"
               th:href="@{/phrases-category/{id}/phrases-pages(page=(${currentPage} + 1), id=${categoryId})}">Наступна ></a>
        </div>
    </div>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
</body>
</html>