<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>

<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page">
            <nav aria-label="breadcrumb" style="border-bottom: 2px solid; padding-left: 20px; margin: 20px;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="/registration-page">Реєстрація</a></li>
                    <!--                    <li class="breadcrumb-item active" aria-current="page">Current Page</li>-->
                </ol>
            </nav>
            <div class="row">
            <div class="col-md-6 col-lg-7 block_left">
                <div id="registrationPage">
                    <div class="box">
                        <div class="box-registration">
                            <div class="form-registration">
                                <h3 style="color: white">Реєстрація</h3>
                                <form id="registration">
                                    <div class="inputBox">
                                        <input type="text" required name="firstName" >
                                        <span class="span-text">Ім'я</span>
                                    </div>
                                    <br>
                                    <div class="inputBox">
                                        <input type="text" required name="lastName">
                                        <span class="span-text">Призвіще</span>
                                    </div>
                                    <br>
                                    <div class="inputBox">
                                        <input type="email" required name="email">
                                        <span class="span-text">Email</span>
                                    </div>
                                    <br>
                                    <div class="inputBox" style="display: flex;">
                                        <input type="password" required name="password" autocomplete="new-password" id="psw">
                                        <!--                                       onkeyup="checkPassword(this.value)">-->
                                        <span class="span-text">Пароль</span>
                                        <span id="toggleBtn"></span>

                                    </div>
                                    <div class="inputBox" style="margin-top: 20px;">
                                        <input type="password" required name="confirmPassword" autocomplete="new-password" id="confirmPassword">
                                        <span class="span-text">Повторити пароль</span>
                                    </div>
                                    <div class="validation">
                                        <ul>
                                            <li id="lover">Мінімум один символ у нижньому регістрі</li>
                                            <li id="upper">Мінімум один символ верхнього регістру</li>
                                            <li id="number">Мінімум одна цифра</li>
                                            <li id="special">Мінімум один спеціальний символ</li>
                                            <li id="length">Довжина - щонайменше 8 символів</li>
                                        </ul>
                                    </div>
                                    <div style="padding-left: 25%; padding-top: 15px;">
                                        <button type="submit">Підтвердити</button>
                                    </div>
                                </form>
                                <div id="result-success" style="color: #4ffd4f"></div>
                                <div id="result-error"
                                     style="color: #fc2727; padding: 25px 25px; text-align: center; "></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p style="font-size: 16px;">Під час реєстрації Ви погоджуєтусь з умовами нашого додатку.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 block_right">
                <div class="row">
                    <div th:utext="${pageText}"></div>
                </div>
            </div>
            </div>
        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/checkPassword.js}"></script>
<script type="text/javascript" th:src="@{/js/searchWord.js}"></script>
</body>
</html>