<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="layout_page row">

            <div class="tabs">

                <input type="radio" id="tab1" name="tab-control" checked>
                <input type="radio" id="tab2" name="tab-control">
                <input type="radio" id="tab3" name="tab-control">

                <ul>
                    <li title="Features">
                        <label for="tab1" role="button">
                            <i class="fa-solid fa-chalkboard-user"></i><br>
                            <span>Тренування</span>
                        </label>
                    </li>
                    <li title="Delivery Contents">
                        <label for="tab2" role="button"><i class="fa-regular fa-circle-question"></i><br>
                            <span>Опис заняття</span>
                        </label>
                    </li>
                    <li title="Shipping">
                        <label for="tab3" role="button"><i class="fa-solid fa-upload"></i><br>
                            <span>Завантажити</span>
                        </label>
                    </li>
                </ul>

                <div class="slider">
                    <div class="indicator"></div>
                </div>
                <hr>
                <div class="content">
                    <section>
                        <h2>Тренування</h2>

                        <div id="lessonId" th:data-lesson-id="${session.lessonId}"></div>
                        <div id="replace_div" style="min-height: 350px;"></div>
                        <div class="inline-container" style="display: flex; margin-right: auto;">
                            <form id="nextText">
                                <button id="nextButton" type="submit">
                                    <span class="lesson_next_ico"></span>
                                </button>
                            </form>
                            <button id="checkButton" onclick="getData()" class="checkbox">Перевірити</button>
                            <button id="textShow" class="checkbox content_toggle btn">Переклад</button>
                            <form id="phrasePlusLesson">
                                <input id="phraseId" type="hidden" name="phraseId" value="">
                                <button type="submit" id="plus" class="btn_plus_lesson custom-tooltip pulse"
                                        data-tooltip="Додати в свою базу" style="margin-left: 40px;"><span
                                        class="lesson_plus_ico"></span></button>
                                <div class="tooltip_info"></div>

                            </form>
                        </div>
                        <hr>
                        <div>
                            <span>Заняття: 1 - 16 </span>
                            <button id="previousLesson" style="height: 30px; padding-top: 2px;"><span
                                    class="lesson_prev_ico"></span></button>
                            <input type="number" id="lessonIdInput" style="width: 50px;" th:value="${lessonId}">
                            <button id="submitButton" style="height: 30px; padding-top: 2px;"><span
                                    class="lesson_enter_ico"></span></button>
                            <button id="nextLesson" style="height: 30px; padding-top: 2px;"><span
                                    class="lesson_next_ico"></span></button>
                        </div>


                    </section>

                    <section>
                        <h2>Опис заняття</h2>
                        <div th:utext="${lesson.lessonInfo}"></div>
                    </section>

                    <section>
                        <h2>Завантажити</h2>
                        <div class="row">
                            <div class="col-md-6 col-lg-7 block_left">

                                <h3 th:text="'Завантажити власний тект для ' + ${lesson.name}"></h3>
                                <form id="add-pair">
                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <textarea id="ukrText" name="ukrText" rows="1"
                                          placeholder="Текст українською"></textarea>
                                        <div id="ukrTextError" class="error_message"></div>
                                        <br>
                                        <textarea id="ukrTextFemale" name="ukrTextFemale" rows="1"
                                                  placeholder="Текст українською W"></textarea>
                                        <div class="error_message" id="ukrTextFemaleError"></div>
                                        <br>
                                    </div>
                                    <div sec:authorize="hasRole('ROLE_USER')">
                                <textarea id="ukrText" name="ukrText" rows="1"
                                          placeholder="Текст українською"></textarea>
                                        <div id="ukrTextError" class="error_message"></div>
                                        <br>
                                    </div>

                                    <textarea id="engText" name="engText" rows="1" placeholder="In English"></textarea>
                                    <div id="engTextError" class="error_message"></div>
                                    <br>
                                    <input type="hidden" name="lessonId" th:value="${lessonId}">
                                    <input type="hidden" name="userId" th:value="${session.userId}">
                                    <button type="submit">Завантажити</button>
                                    <br>
                                </form>
                            </div>
                            <div class="col-md-6 col-lg-5 block_right">
                                <div th:utext="${pageText}"></div>
                            </div>

                        </div>
                    </section>


                </div>
            </div>


        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/learnScript.js}"></script>
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--        var tooltips = document.querySelectorAll('.custom-tooltip');-->

<!--        tooltips.forEach(function(tooltip) {-->
<!--            tooltip.addEventListener('mouseenter', function() {-->
<!--                var tooltipText = this.dataset.tooltip;-->
<!--                var tooltipElement = this.nextElementSibling;-->

<!--                tooltipElement.innerText = tooltipText;-->
<!--                tooltipElement.style.left = this.offsetLeft + 'px';-->
<!--                tooltipElement.style.top = (this.offsetTop + this.offsetHeight) + 'px';-->
<!--                tooltipElement.style.display = 'block';-->
<!--            });-->

<!--            tooltip.addEventListener('mouseleave', function() {-->
<!--                var tooltipElement = this.nextElementSibling;-->
<!--                tooltipElement.style.display = 'none';-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>