<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/adminPage.css}">
<body>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="sidebar">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
    <main class="section main_content ">
        <div class="container layout_page">
            <div class="page-table">
                <h3>Юзери</h3>
                <table style="width: 90%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Online</th>
                        <th>IP</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
<!--                        <td th:text="${user.statistics.trainingTimeStartEnd}"></td>-->
                        <td th:text="${#temporals.format(user.statistics.trainingTimeStartEnd, 'dd.MM.yyyy')}"></td>
                        <td th:text="${user.userIp}"></td>
                        <td>
                            <form>
                                <input th:id="'toggleSwitch-' + ${user.id}" type="checkbox" th:checked="${user.active}" class="toggle-switch"
                                       name="userActive" th:data-user-id="${user.id}"/>
                                <label th:for="'toggleSwitch-' + ${user.id}" class="toggle-switch-label"></label>
                                <input type="hidden" name="userId" th:value="${user.id}"/>
                            </form>
                        </td>
                        <td>
                            <button class="check-button checkbox" th:data-user-id="${user.id}">Зберегти зміни</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- відображення пагінації -->
            <div style="position: fixed; bottom: 40px; margin-left: 40px; width: 100%;">
                <a th:href="@{/admin-page/users(page=(${currentPage} - 1))}">Previous</a>
                <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/admin-page/users(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                </span>
                <a th:href="@{/admin-page/users(page=(${currentPage} + 1))}">Next</a>
            </div>
        </div>


    </main>
    <!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>
<script>
    $(document).ready(function () {
        $('.check-button').on('click', function () {
            var userId = $(this).data('user-id');
            // var form = $('form').find('[data-user-id="' + userId + '"]');
            var form = $('form').has('[data-user-id="' + userId + '"]');
            var url = "/admin-page/users/user/user-active";
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            var isChecked = form.find('input[name="userActive"]').prop('checked');
            console.log(form);
            console.log(userId);
            console.log(isChecked);
            console.log(url);
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    userActive: isChecked,
                    userId: userId
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (result) {
                    // Обробка успішного відгуку
                },
                error: function (xhr, status, error) {
                    // Обробка помилки
                }
            });
        });
    });
</script>
</body>
</html>