<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">
<body>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="sidebar">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
    <div id="toastContainer" class="toast-container"></div>
    <main class="section main_content ">
        <div class="container layout_page">
            <div class="page-table">
                <h3>Завантажені тексти</h3>
                <table style="width: 90%;">
                    <thead>
                    <tr>
                        <th>Заняття</th>
                        <th>Текст українською</th>
                        <th>Текст англійською</th>
                        <th>Actions</th> <!-- Додано стовпець для кнопок -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="translationPair : ${translationPairs}">
                        <td style="display: none"><input type="hidden" name="id" th:value="${translationPair.id}"/></td>
                        <td>
                            <span th:text="${translationPair.lesson.name}"></span>
                        </td>
                        <td>
                            <!-- Відображення поля як текст або як input, залежно від режиму редагування -->
                            <span th:text="${translationPair.ukrText}"></span>
                            <input th:id="'pair' + ${translationPair.id}" class="hidden_content" type="text"
                                   th:value="${translationPair.ukrText}"/>
                        </td>
                        <td>
                            <!-- Відображення поля як текст або як input, залежно від режиму редагування -->
                            <span th:text="${translationPair.engText}"></span>
                            <input th:id="'pair' + ${translationPair.id}" class="hidden_content" type="text"
                                   th:value="${translationPair.engText}"/>
                        </td>
                        <td>
                            <button class="editButton" onclick="toggleEditMode(this)">Редагувати</button>
                            <button class="cancelButton disabled" onclick="toggleCancelMode(this)">Відмінити</button>
                            <button class="saveButton disabled" onclick="saveChanges(this)">Зберегти</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--       відображення пагінації-->
            <div style="position: fixed; bottom: 40px; margin-left: 40px; width: 100%;">
                <a th:href="@{/user/{id}/translation-pairs(page=(${currentPage} - 1), id=${session.userId})}">Previous</a>
                <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/user/{id}/translation-pairs(page=${pageNumber}, id=${session.userId})}"
                       th:text="${pageNumber + 1}"></a>
                </span>
                <a th:href="@{/user/{id}/translation-pairs(page=(${currentPage} + 1), id=${session.userId})}">Next</a>
            </div>
        </div>


    </main>
    <!--    <footer th:replace="fragments/footer :: footer"></footer>-->
</div>
<script type="text/javascript" th:src="@{/js/userTranslationPairsPage.js}"></script>
</body>
</html>