<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<style>
    .phrase_content {
        position: absolute;
        display: none;
        flex-direction: column;
        background: rgba(45, 45,52, 0.99);
        height: auto;
        width: auto;
        padding: 15px;
        z-index: 9999;
        border: 1px solid;
        list-style-type: none;
    }
</style>
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <!--    <main class="section" style="position: relative; padding-bottom: 90px;">-->
    <div class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="container layout_page">


            <div class="navigation_admin_page" style="width: fit-content; border-radius: 20px">
                <a href="#">Категорії</a>
            </div>
            <hr>
            <div class="page-table" style="flex-direction: column;">
                <h3>Мої слова</h3>
<!--                <div><a th:href="@{/user/{id}/translation-pairs(page=0,size=10,sort='isRepeatable')}">Repeatable</a>-->
<!--                </div>-->

                <div th:each="word : ${words}" class="user-word">
                    <input type="hidden" name="wordId" th:value="${word.id}"/>
                    <div style="display: flex; flex-direction: row;">
                        <table>
                            <td style="height: 25px;">
                                <span th:text="${word.name}" style="color: #428BFF; padding-right: 2px;"></span>
                                <span th:text="${word.usaTranscription}"
                                      style="color: white; padding-right: 1px;"></span>
                                <span th:text="${' - ' + word.translate}"></span>
                                <audio th:if="${word.audio.usaAudioName != null}" id="usaAudio" preload="auto">
                                    <source th:src="@{/audio/{name}(name=${word.audio.usaAudioName})}" type="audio/mpeg"/>
                                </audio>
                                <span th:if="${word.audio.usaAudioName != null}" class="sound_pic"
                                      onclick="document.getElementById('usaAudio').load();document.getElementById('usaAudio').play();">
                                <img th:src="@{/images/audio-play.webp}" style="width:20px; cursor: pointer;"
                                     th:alt="${'Американська вимова слова ' + word.name}"
                                     th:title="${'Американська вимова слова ' + word.name}">
                                </span>
<!--                                <div th:if="${word.phraseUsers != null}"-->
                                <span th:if="${#lists.size(word.phraseUsers) > 0}" class="toggle" >▼</span>
                                <ul th:if="${word.phraseUsers}" class="category phrase_content">
                                    <li th:each="phraseUser : ${word.phraseUsers}" style="margin-top: 5px;">
                                        <span th:text="${phraseUser.getEngPhrase}"></span>
                                        <span th:text="${phraseUser.getUkrTranslate }"></span>
<!--                                        <a th:href="@{'/admin-page/' + ${subcategoryTwo.id} + '/category-edit'}" style="border: 1px solid; border-radius: 10px; padding: 3px;">Редагувати</a>-->
                                    </li>
                                </ul>

                            </td>
                            <td>
                                <form>
                                    <label>| Повторюється: </label>
                                    <input th:id="${'toggleSwitch-' + word.id}" type="checkbox"
                                           th:checked="${word.repeatable}"
                                           class="toggle-switch"
                                           name="isRepeatable" th:data-word-id="${word.id}"/>
                                    <label th:for="${'toggleSwitch-' + word.id}" class="toggle-switch-label"></label>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <button type="button" onclick="confirmRemove(this)"><i class="fa-regular fa-trash-can"></i></button>
                                </form>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </div>
    <!-- відображення пагінації -->
    <div class="pagination">
        <div>
            <a th:href="@{/user/words(page=(${currentPage} - 1))}"><
                Попередня</a>
        </div>
        <div>
            <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/user/words(page=${pageNumber})}"
                       th:text="${pageNumber + 1}"></a>
            </span>
        </div>
        <div>
            <a style="margin-right: auto"
               th:href="@{/user/words(page=(${currentPage} + 1))}">Наступна ></a>
        </div>
    </div>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/userWords.js}"></script>
</body>
</html>