<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/css/tableInPage.css}">
<body class="active">
<div id="toastContainer" class="toast-container"></div>
<div class="wrapper">
    <div class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page">
            <div class="page-table" style="flex-direction: column;">
                <h3>Завантажені тексти</h3>
                <div><a th:href="@{/user/{id}/translation-pairs(page=0,size=10,sort='isRepeatable')}">Repeatable</a></div>
                <table style="width: 90%;">
                    <thead>
                    <tr>
                        <th>Заняття</th>
                        <th>Текст українською</th>
                        <th>Текст англійською</th>
                        <th>Повторення</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="phraseUser : ${phraseUsers}">
                        <td style="display: none"><input type="hidden" name="id" th:value="${phraseUser.id}"/></td>
                        <td>
                            <span th:text="${phraseUser.lesson.name}"></span>
                        </td>
                        <td>
                            <span th:text="${phraseUser.ukrText}"></span>
                            <input th:id="'ukrText' + ${phraseUser.id}" class="hidden_content" type="text" th:value="${phraseUser.ukrText}"/>
                            <div th:id="'ukrTextError' + ${phraseUser.id}" class="error_message"></div>
                        </td>
                        <td>
                            <span th:text="${phraseUser.engText}"></span>
                            <input th:id="'engText' + ${phraseUser.id}" class="hidden_content" type="text" th:value="${phraseUser.engText}"/>
                            <div th:id="'engTextError' + ${phraseUser.id}" class="error_message"></div>
                        </td>
                        <td>
                            <form>
                                <input th:id="${'toggleSwitch-' + phraseUser.id}" type="checkbox" th:checked="${phraseUser.repeatable}"
                                       class="toggle-switch"
                                       name="isRepeatable" th:data-phrase-id="${phraseUser.id}"/>
                                <label th:for="${'toggleSwitch-' + phraseUser.id}" class="toggle-switch-label"></label>
                            </form>
                        </td>
                        <td th:if="${phraseUser.userTranslationPair}">
                            <button class="editButton" onclick="toggleEditMode(this)"><i class="fa-regular fa-pen-to-square"></i></button>
                            <button class="cancelButton disabled" onclick="toggleCancelMode(this)"><i class="fa-solid fa-xmark"></i></button>
                            <button class="saveButton disabled" onclick="saveChanges(this)"><i class="fa-regular fa-floppy-disk"></i></button>
                            <button class="removeButton" onclick="confirmRemove(this)"><i class="fa-regular fa-trash-can"></i></button>
                        </td>
                        <td th:if="${!phraseUser.userTranslationPair}">
                            <button class="removeButton" onclick="confirmRemove(this)"><i class="fa-regular fa-trash-can"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="position: fixed; bottom: 40px; margin-left: 40px; width: 100%;">
                <a th:href="@{/user/{id}/translation-pairs(page=(${currentPage} - 1), id=${session.userId})}">Previous</a>
                <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/user/{id}/translation-pairs(page=${pageNumber}, id=${session.userId})}"
                       th:text="${pageNumber + 1}"></a>
                </span>
                <a th:href="@{/user/{id}/translation-pairs(page=(${currentPage} + 1), id=${session.userId})}">Next</a>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/userTranslationPairsPage.js}"></script>
</body>
</html>