<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head_old :: head_old}"></head>
<script th:src="@{/js/chart.umd.js}"></script>
<body class="active">
<div class="wrapper">
    <main class="section">

        <header th:replace="~{fragments/header_2 :: header_2}"></header>

        <div class="container layout_page row">


            <div class="col-md-6 col-lg-7 block_left">
                <h4>Час тренувань в хвилинах за 14 днів занять</h4>
                <canvas id="myChart" style="height: 400px;"></canvas>
            </div>
            <div class="col-md-6 col-lg-5 block_right">
                <h4>К-сть повторень текстів за вчора та сьогодні</h4>
                <canvas id="myChart2"></canvas>
                <br>
                <div>
                    <h4>К-сть всього повторень та помилок</h4>
                    <canvas id="myChart3"></canvas>
                </div>
            </div>


        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu_old :: menu_old}"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/userStatistics.js}"></script>
</body>
</html>