<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body>
<main id="main-wrapper" class="main-wrapper">

    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/menu :: menu}"></div>

    <div id="app-content">
        <div class="app-content-area">
            <div class="main-content p-3 w-95">


                <nav aria-label="breadcrumb" style="border-bottom: 2px solid; padding-left: 20px; margin: 20px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/words-main-category">Головні
                            категорії словника</a>
                        </li>
                    </ol>
                </nav>
                <div class="d-flex flex-column align-items-center">
                    <h1>Словник</h1>

                    <div class="search__container">
                        <input class="search__input" type="text" placeholder="Пошук..." id="searchInput">
                        <div id="searchResults"></div>
                    </div>

                    <div th:each="mainCategory : ${mainCategories}" class="me-auto">
                        <h3 th:text="${mainCategory.name}"></h3><br>
                        <div class="left_border" th:utext="${mainCategory.description}"></div>
                        <form th:action="@{/vocabulary/main-category/{uuid}(uuid=${mainCategory.uuid})}">
                            <button class="btn btn-primary" type="submit">Перейти</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/searchWord.js}"></script>
</body>

</html>