<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<form id="reload" action="/user/1/lesson/1/reload" method="get">
    <input type="hidden" name="lessonId" th:value="1">
    <button type="submit">Оновити</button>
</form>


<div id="replace_div">
    Content goes here
</div>

<script>
    $(document).ready(function () {
        // Виконуємо запит при першій загрузці сторінки
        var url = $('#reload').attr('action');
        var csrfToken = $("input[name='_csrf']").val();
        $.ajax({
            type: "GET",
            url: url,
            data: $('#reload').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
            },
            success: function (result) {
                console.log(result.fragment);
                if (result.fragment === "Content 1") {
                    $('#replace_div').load("/content/content1", function () {
                        $('#ukr-text').html(result.ukrText);
                    });
                } else if(result.fragment === "Content 2"){
                    $('#replace_div').load("/content/content2", function () {
                        $('#eng-text').html(result.engText);
                    });
                } else {
                    $('#replace_div').load("/content/content3", function () {
                        $('#ukr-text').html(result.ukrText);
                        $('#eng-text').html(result.engText);
                    });
                }
            },
            error: function () {
                // console.log('Помилка запиту на сервер');
            }
        });
    });


    //         $(document).ready(function () {
    // //call function when page is loaded
    //             getContent();
    // //set on change listener
    //             $('#selection').change(getContent);
    //
    //             function getContent() {
    // //create url to request fragment
    //                 var url = /content/;
    //                 if ($('#selection').val() === "Content 1") {
    //                     url = url + "content1";
    //                 } else {
    //                     url = url + "content2";
    //                 }
    // //load fragment and replace content
    //                 $('#replace_div').load(url);
    //             }
    //         })
</script>
</body>
</html>