<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<style>
    .sub_full a {
        font: 20px Arial;
        /*color: #1A1A1A;*/
        outline: none;
        /*margin-left: 10px;*/
        text-decoration: underline;
        /*font-size: 22px;*/
    }
    .sub_full a:hover {
        text-decoration: none;
        border-bottom: 1px dashed blue;
    }
    .sub_full i {
        font-size: 20px;
        font-style:italic;
        font-weight: 500;
    }
</style>
<body class="active">
<div class="wrapper">
    <main class="section">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="container layout_page">
            <nav aria-label="breadcrumb" style="border-bottom: 2px solid; padding-left: 20px; margin: 20px;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Головна</a></li>
                    <li class="breadcrumb-item"><a href="/words-main-category">головні категорії словника</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/words-main-category/{id}(id=${mainId})}">Категорії словника</a>
                    <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/subcategory/{id}(id=${subId})}">Слова із категорії</a>
                    </li>
                </ol>
            </nav>
            <h1>Слова</h1>
            <div th:if="${words != null && word.published}" th:each="word : ${words}" class="sub_full">
                <a th:href="@{/word/{id}(id=${word.id})}" th:text="${word.name}"></a>
                <i th:text="' — ' + ${word.translate}"></i>
<!--                <a th:each="subSubCategory : ${subCategory.subcategories}" th:href="@{/subcategory}" th:text="${subSubCategory.name}"></a>-->
            </div>
            <!--      <ul th:each="subCategory : ${wordsSubCategories}">-->
            <!--        <li th:text="${subCategory.name}"></li>-->
            <!--        <ul th:each="subSubCategory : ${subCategory.subcategories}">-->
            <!--          <li th:text="${subSubCategory.name}"></li>-->
            <!--        </ul>-->
            <!--      </ul>-->

            <!--      <div th:utext="${mainBottom}" style="padding: 20px 40px 20px 40px;"></div>-->
        </div>
        <div th:replace="~{fragments/menuMobile :: menuMobile}"></div>
    </main>
    <div th:replace="~{fragments/menu :: menu}"></div>
</div>

</body>
</html>